


/* Article styles
	N.b. padding has been adjusted manually from VD spec to account for difference
	in measuring between CSS and designs
*/

.article-column
	overflow hidden

article
	position relative
	width 100%
	background-color #FFFFFF
	padding 0 0 $vgap 0
	font-size 1.6rem
	color color-body
	line-height 1.5em

	.article-head-bloc
		background-color $articleHeadBgnd

	.article-width
		center-block()
		padding 0 $gutter
		&.leaderboard
			padding 0
			text-align center
			.mpu
				display inline-block
				overflow hidden

		@media $format-center-content
			padding 0
			max-width $column * 2

	.headline
		font-family $font-article-headline
		font-size 3.8rem
		margin-bottom 1.4rem /* 2rem in VD */
		text-align center
		max-width 100%
		line-height normal
		@media $format-desktop
			max-width 64rem
			margin-left auto
			margin-right auto

	.body p:first-child
		color $color-headline


	// body styles
	.body
		p
			line-height 1.5em
			color #444
		h1, h2, h3, h4, h5, h6, hr
			font-size 2.2rem
			margin-bottom $vgap - 1rem /* 3rem in VD */
			color #444

		ul, ol
			padding-left 4rem
		ol
			list-style-type decimal
		ul
			list-style-type none
			position relative
		ul>li:before
			content '•'
			position absolute
			left 2rem
			margin-top -0.2rem
			font-size 2rem
			color iRed
		pre, p, li, ul, ol, blockquote
			margin-bottom $vgap

		
		p
			img
				display block
				margin 0 auto

		blockquote
			position relative
			padding-top 3rem
			font-family $font-article-headline
			p:last-child::after
				content ' „'
				color $iRed
				font-size $quotemarkSize
				position absolute
				margin-top -2.6rem
				@media $format-mobile
					font-size 9rem
			@media $format-desktop
				padding-top 0
				width column
				margin 0 auto
			p, h1, h2, h3, h4, h5, h6
				color $color-headline
				font-size 2.2rem
			&:before
				content '“'
				color $iRed
				font-size $quotemarkSize
				@media $format-mobile
					float left
					height 4rem
					margin-top 2rem
					font-size 9rem
					margin-right 0.1em
				@media $format-desktop
					position absolute
					left -5rem
					top 3.3rem
		table
			border-style solid
			width 100%
			font-size 1.6rem
			margin-bottom $vgap
			border-color #cbcbcb
			border-width 0 0 1px 1px
		td
			border-style solid
			padding 1rem
			border-color #cbcbcb
			border-width 1px 1px 0 0
			color #333333
		th
			padding 1rem
			border-color #747474
			border-style solid
			border-width 1px 1px 0 0
			color #FFFFFF
		thead
			font-weight bold
			background-color #333333
		tr:nth-child(even)
			background-color #f7f7f7


	figure
		position relative
		display flex
		justify-content center
		align-items center
		align-content center
		margin 0 0 2.8333rem 0
		width 100%
	.img-container
		max-width 100% // for IE
		overflow hidden
		position relative
	img
		display block
		max-width 100%
	figcaption
		background-color rgba(0, 0, 0, 0.8)
		font-size 1.4rem
		color #FFFFFF
		.credit
			text-transform uppercase
		.close
			position absolute
			right 1rem
	.info
		position absolute
		left 0
		bottom 0
		height 3rem
		width 3rem
		padding 0.5rem 0 0 1rem
		color #FFFFFF
		background-color rgba(0, 0, 0, 0.8)
		transition all 200ms ease-in-out
	.show-caption
		figcaption
			transform translateY(0)
		.info
			transform translateX(-100%)
	.hero
		max-width 100%
		width 100%
		position relative
		.hero-img
			position relative
			z-index 1
			width 100%

	.status-info
		text-align center
		color $iGrey
		font-size 1.2rem
	.byline
		color $iRed
	.rank
		color $iRed

	.action
		height 6rem
		font-size 1.136rem
		max-width 64rem
		margin 0 auto 4rem
		width 86%

article
	.caption-wrap
		position absolute
		z-index 2
		bottom 0
		left 0
		width 100%
	.hero-caption
		padding 0.5em 1em
























