/* LIST ITEMS - by Leigh */

#drawer
	width 32rem
	background-color #D0D2D5
	text-align center
	nativeScroll('y')
	padding 0
	margin 0
	color #333333

	.title
		font-family $font-roboto;
		font-size 2rem
		padding 1.3rem 0 1rem 0

.drawer-bar
	position relative
	.title
		margin 0
		padding 0

	.cta-refresh-list
		margin 0
		padding 0
		position absolute
		top 1.4rem
		left 2.4rem

		&:hover
			cursor pointer
		
		.refresh-icon
			width 1.9rem
			height 1.9rem

.article-list
	overflow hidden
	.card
		background #fff
		border-left 0.4rem darkcyan solid
		display block
		height 13.4rem // 134px
		margin 0 0.4rem 0.7rem 0.4rem
		padding 1rem 0 0 0
		position relative
		text-align left
		box-shadow (0 2px 3px 0 #AAAAAA)
	
		.new-flag
			display none
			position absolute
			width 4.2rem
			height 4rem
			z-index 2
			top 0.3rem
			left -0.8rem

	
		&.discover
			border-color $discover
			.new-flag
				.main-background
					fill $discover
		&.news
			border-color $news
			.new-flag
				.main-background
					fill $news
		&.people
			border-color $people
			.new-flag
				.main-background
					fill $people
		&.videos
			border-color $videos
			.new-flag
				.main-background
					fill $videos
		&.sport
			border-color $sport
			.new-flag
				.main-background
					fill $sport
		&.tech
			border-color $tech
			.new-flag
				.main-background
					fill $tech
		&.offbeat
			border-color $offbeat
			.new-flag
				.main-background
					fill $offbeat
		&.ents
			border-color $ents
			.new-flag
				.main-background
					fill $ents
		

	.article-thumb
		align-self flex-start
		margin-top 5px
		width 7.833333333rem
		height 5.666666667rem

	.contents
		display flex
		margin 0 1rem
		padding 0
		cursor pointer
		position relative
		height 65%

		&:after
			background-color white
			box-shadow 0 0 0.7rem 0.3em rgba(0,0,0,0.1)
			content " "
			display none
			position absolute
			right -11%
			top 34%
			transform rotate(45deg)
			height 2.8rem
			width 2.8rem

	.is-selected
		.contents
			&:after
				display block

	.headline-wrapper
		flex 1
		padding 0 0 0 1rem

	h3
		font-family $font-small-headline
		font-size 1.4rem // should be 17px
		line-height 1.25
		margin 0 0 0.2rem 0
		padding 0
		max-height 5.7rem
		overflow: hidden;
		text-overflow: ellipsis;

		a
			color #333333
			text-decoration none

			
		.rank
			color $iRed
			font-size 1.8rem


	.displayDate
		font-size 1rem
		width 100%
		color #c3c3c3

	.action
		margin 0
		padding 0
		border-top 1px solid $actionMenuBorder01
		height 35%
		line-height 4
		.icon
			border none
			display inline-block
			height 3.4rem
			line-height 3.4rem
			margin 0
			padding 0
			vertical-align middle
			width 50%
			&.upvote
				padding-left $list-icon-gutter
				text-align left
			&.shares
				padding-right $list-icon-gutter
				text-align right
			.up-s
				width 2rem
				height 2rem
			.share-icon
				width 1.4rem
				height 1.4rem
		.number
			font-size 1.2rem

	.iconic
		fill $iGrey

	.card.new
		position relative

		.new-flag
			display block
		.contents
			position relative
	

// Active styles 


@media $format-hamburger-menu
	#drawer
		width 35.555555556rem
























