.article-column
	flex 1
	display flex
	flex-direction column
	height auto

	#article-container
		flex 1

.article-header
	position relative
	z-index 100
	transform translate3d(0, -100%, 0)
	transition 300ms ease
	.social-toolbar
		margin 0
		padding 3px 0
		list-style-type none
		display flex
		justify-content flex-end
		align-items: center
		background-color rgba(241,241,241,0.95)
		.social-item
			&.ranking
				font-family $font-alphaSlab
				font-size 3rem

	&.active
		transform translateY(0)

@media $format-hamburger-menu
	// MOBILE ONLY
	.article-header
		.social-toolbar
			.social-item
				margin 0
				padding 0 8px
				&.ranking
					font-family $font-alphaSlab
					font-size 3rem
					line-height 4.8rem
				
			.icon
				.up-l
					width 12rem
					height 6rem
				.up-s,
				.facebook,
				.twitter,
				.share 
					width 4rem
					height 4rem

@media $format-big-menu
	// DESKTOP ONLY
	.article-header
		.social-toolbar
			padding 1rem 0
			justify-content center
			// NOTE - This is here to team up with the .ranking element down there, to create padding eitherside of those buttons in the middle
			&:after
				content ' '
				display block
				flex 1
			.social-item
				margin 0
				padding 0
				&.ranking
					flex 1
					text-align center
					margin 0 4rem 0 0
				&.upvote
					position relative
					.label
						color white
						position absolute
						top 1.4rem
						right 3.2rem
						font-family $font-latoReg 
						font-size 1.4rem
						text-transform uppercase
				&.upvote
					width 12rem
				&.facebook,
				&.twitter,
				&.share 
					width 4rem
			.icon
				.up-s
					display none
				.up-l
					width 10rem
					height 4rem
				.up-s,
				.facebook,
				.twitter,
				.share 
					width 3rem
					height 3rem
