// Comments styling

// give the comments container an initial height
// to prevent reflow once the comments are loaded in via Gigya

.comment-container
	min-height 13rem

.comment-viewer
	margin 2rem auto 0

.comment-button
	height 3.8rem
	background-color #C1C1C1
	padding 0.6rem 3rem 0
	margin-bottom 1rem
	text-transform uppercase
	user-select none
	cursor pointer
	display none
	border-radius 0.2rem


// hide gigya comments until show comments button pressed
.hide-comments

	// We need to hide these, not remove them from the document flow because
	// GIGYA does some display measurements and adjustments during their rendering cycle
	.gig-comments-comments
		visibility hidden
		height 0
		overflow hidden

	.gig-comments-header,
	.gig-comments-updates,
	.gig-comments-more,
	.gig-comments-count
		visibility hidden

	// Show the show comments button
	.comment-button
		display inline-block


// Override Gigya plugin styles

// Ensure our CSS selectors are more explicit than GIGYAs by using a parent selector of html
html *
	.gig-composebox-post,
	.gig-composebox-post:hover
		background $iRed
		border none
		text-transform uppercase
		border-radius 0.2rem
