

.article-discovery
	@import './spotlight.styl'

.article-discovery

	.category-heading
		font-size 4rem
		font-family $font-roboto
		color $categoryHeading
		text-transform capitalize

	.column-wrapper
		display flex
		justify-content space-around

		@media $format-mobile
			display block


		.column
			flex 2
			padding 0 2rem 4rem

			overflow hidden
			&:last-child
				flex 1
			@media $format-mobile
				width 100%
				margin 0 auto

			@media $format-large
				&:first-child
					flex 1
			img
				width 100%

