// Code for drop down menus

// the user menu is always a dropdown, but the main menu is only a drop down
// when the hamburger menu is on

// if you want to compile just this stylus sheet, uncomment the next line...

/*@import '../variables.styl'*/


// styles to make the dropdown menu wrapper...
drop-down-menu()
	overflow hidden
	position absolute
	right 0
	top $top-nav-height
	bottom 0
	width $column
	z-index -100
	// Hiding solution - moves the whole menu off the top of the canvas area
	// this fixes 7759 - Android scroll not working
	transform translateY(-100%)
	transition transform 0ms linear 600ms

	// hide away menus by default...
	.inner-wrapper
		transform translateY(-100%)
		transition all 600ms ease-in-out
		height 100%
		overflow hidden

	// 100% wide on single column devices...
	@media $format-x-small
		width 100%


// styles to apply when menu is active...
active-menu()
	z-index 100
	transition all 0ms linear 0ms
	transform translateY(0)

	.inner-wrapper
		transform translateY(0)


// define the menus...

// user menu is always drop down
.user-menu-wrapper
	drop-down-menu()
	.user-menu-active &
		active-menu()

// main menu is drop-down on mobile, and on responsive <= tablet size
@media $format-hamburger-menu
	.responsive
		.main-menu-wrapper
			drop-down-menu()
			.top-menu-active&
				active-menu()
.mobile
	.main-menu-wrapper
		drop-down-menu()
		.top-menu-active&
			active-menu()




// conditions to invoke the veil...
@media $format-tablet
	.top-menu-active #veil
		display block

@media $format-hamburger-menu
	.user-menu-active #veil
		display block

