.gigya-screen *, div.gigya-screen, .gigya-screen span, .gigya-screen a:hover, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active
	border none
	padding 0px
	margin 0px
	color inherit
	text-decoration none
	width auto
	float none
	-moz-border-radius 0
	border-radius 0
	font-family arial
	font-size 12px
	color #333333
	background none
	text-align left
	font-family arial

.gigya-screen a, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active
	color #0098ca
	text-decoration underline

.gigya-screen-set
	.gigya-screen
		margin 0 auto

.gigya-screen
	h2
		font-size 16px
		color #333
		font-weight normal
	a
		&:hover
			text-decoration none
		&.gigya-composite-control-link
			display block
			padding-left 13px
	h1
		border-bottom 1px solid #dbdbdb
		font-size 16px
		font-family Arial
		font-weight bold
		color #333
		padding-bottom 5px
		margin-bottom 45px
	.gigya-layout-row
		zoom 1
		display block
	.gigya-layout-cell
		float left
		min-width 50%
		margin-top 1px
	select
		margin 5px 0px
		padding 5px
		border-radius 5px
		background-color #FFFFFF
		border 1px solid #CCCCCC
		-moz-box-sizing border-box
		-webkit-box-sizing border-box
		box-sizing border-box
		width 100%
	option
		padding 5px
		&:hover
			background-color #3593C1
	.gigya-label
		display block
		font-weight bold
		font-size 12px
	.gigya-composite-control
		padding 0
		a
			&.gigya-composite-control-link
				display inline
				padding 0px
	.gigya-composite-control-submit
		text-align right
	.gigya-composite-control-label
		display block
	.gigya-composite-control-checkbox
		padding 5px 10px
		label
			display inline
			text-indent 10px
			margin-left 0px
	.gigya-message
		font-size 14px
		color #333
		display block
		text-align center
	.gigya-error-display
		display block
		visibility hidden
	.gigya-error-display-active
		display block
		visibility visible
	.gigya-error-msg
		line-height 14px
		color #dd4b39
		font-size 11px
		display block
		font-weight normal
		-moz-box-sizing border-box
		-webkit-box-sizing border-box
		box-sizing border-box
	.gigya-form-error-msg
		_height 26px
		min-height 26px
		line-height 14px
		color #dd4b39
		font-size 11px
		text-align center
		margin-top 1px
		border 1px solid #FFDCCE
		display block
		background #FFE7E1
		font-weight normal
		padding 5px
		-moz-box-sizing border-box
		-webkit-box-sizing border-box
		box-sizing border-box

.gigya-input-text, .gigya-input-password
	line-height 26px

.gigya-input-text, .gigya-input-password, .gigya-textarea
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box
	width 100%
	margin 5px 0px
	text-indent 5px
	border-radius 4px
	background-color #FFFFFF
	border 1px solid #CCCCCC
	color #555555
	outline none
	box-shadow inset 0 1px 3px rgba(0, 0, 0, .05)
	-webkit-box-shadow inset 0 1px 3px rgba(0, 0, 0, .05)
	-moz-box-shadow inset 0 1px 3px rgba(0, 0, 0, .05)

.gigya-textarea
	padding 5px

.gigya-input-text, .gigya-input-password, .gigya-screen select, .gigya-input-submit, .gigya-input-button
	height 28px

.gigya-input-text:focus, .gigya-input-password:focus, .gigya-textarea:focus, .gigya-screen select:focus
	border 1px solid #87B9EA
	outline none

.gigya-input-text:focus, .gigya-input-password:focus, .gigya-textarea:focus
	box-shadow 0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05)
	-webkit-box-shadow 0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05)
	-moz-box-shadow 0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05)

.gigya-input-submit, .gigya-input-button
	text-align center
	border 1px solid #CECECE
	cursor pointer
	padding 0 12px
	color #333333
	font-weight bold
	border-radius 4px
	line-height 26px
	background #F2F2F2


.gigya-input-radio, .gigya-input-checkbox
	margin-right 5px
	vertical-align bottom
	height 14px
	width 14px

input.gigya-input-text, input.gigya-input-password
	display block

.gigya-screen .gigya-composite-control-submit, .gigya-screen .gigya-composite-control-button, .gigya-screen .gigya-composite-control-form-error
	padding-bottom 5px
	padding-right 13px

.gigya-composite-control-multi-choice .gigya-multi-choice-item, .gigya-composite-control-checkboxes .gigya-checkboxes-item
	padding-top 5px

.gigya-composite-control-form-error
	padding-bottom 5px
	padding-right 5px

.gigya-clear
	clear both
	overflow hidden
	font-size 0px

.gigya-composite-control-radio
	label
		font-weight normal

.gigya-composite-control-checkbox
	label
		font-weight normal

.gigya-screen .gigya-composite-control-checkbox .gigya-label, .gigya-screen .gigya-composite-control-radio .gigya-label
	font-weight normal

.gigya-layout-footer
	text-align right
	clear both

#gigya-login-screen .gigya-composite-control-social-login, #gigya-register-screen .gigya-composite-control-social-login
	border-right 1px solid #CCC
	height 125px
	width 285px
	padding 13px 38px 0 0px

#gigya-register-screen
	.gigya-composite-control-social-login
		height 240px

.gigya-required-display
	color red
	display inline-block
	padding 0 5px

#gigya-login-screen a.forgotPassword, #gigya-login-screen a.forgotPassword:link, #gigya-recent-login-screen a.forgotPassword, #gigya-recent-login-screen a.forgotPassword:link
	float right
	font-weight normal
	text-decoration none

#gigya-login-screen a.forgotPassword:hover, #gigya-login-screen a.forgotPassword:active, #gigya-recent-login-screen a.forgotPassword:hover, #gigya-recent-login-screen a.forgotPassword:active
	text-decoration underline

body #gigya-login-screen .gigya-composite-control-social-login,
body #gigya-register-screen .gigya-composite-control-social-login
	width auto
	border 0
	padding 0
	height auto


.gigya-screen
	.gigya-composite-control
		position relative
	span
		&.tooltip
			bottom 10px
			font-size 12px
			right -395px
			width 387px
			z-index 11
			display none
			position absolute
			padding 5px
			background #bbb
			color #fff
			a
				color #0098ca
				font-size 12px

.gigya-social-login
	&.gigya-reset
		center
			display inline
		& > div
			width auto !important
			height auto !important
			div
				display inline-block
				margin 0 5px 0 0 !important
		td
			padding 0 !important

.gigya-social-login.gigya-reset table, 
.gigya-social-login.gigya-reset tr, 
.gigya-social-login.gigya-reset td,
.gigya-social-login.gigya-reset tbody
	display inline
	width auto !important
	height auto !important
	white-space normal

#gigyaSideBar
	// position absolute
	// right 10px
	// top 0
	// width 300px
	a
		color #0098ca
	.widget
		// border 1px solid #bbb
		// padding 10px
		// margin 10px 0
		h2
			gigyaFormTitleFont(1.5rem, 1.333)
			margin 0 0 1rem 0
			padding 0
		ul
			list-style-type disc
			padding 0 0 0 1.5rem
			margin 0 0 2rem 0
			li
				font-size 1.3rem
				margin 0 0 0.5rem 0
				padding 0


#gigyaSideBar .widget li, #gigyaSideBar .widget p
	font-size 12px

.gigyaBtn
	font-size 12px

