//- Gigya styles
/*@import "./gigya.styl";*/

// -- LOGIN AREA
#gigya-login
	margin 0
	padding 2rem

	h1.gigya-screen-caption
		gigyaFormTitleFont(4rem, 1.333)
		margin 0 0 3.5rem 0
		padding 0
		border none

	.gigya-layout-row
		margin 0 0 1rem 0
		padding 0

	.gigya-composite-control
		gigyaFormTitleFont(1.5rem, 1.333)
		margin 0 0 1rem 0

	div.gigya-social-login
		min-height 0 !important
		min-width 0 !important
		margin 0 0 2rem 0
	
	.gigya-login-form
		background-color #f1f1f1
		padding 1rem
		margin 0 0 3rem 0
		.gigya-composite-control-textbox,
		.gigya-composite-control-password,
		.gigya-composite-control-submit
			width 50%

// -- PROFILE AREA

.profile-manager
	padding 2rem 0
	.profile-unit-list
		clearfix();
		margin 0 auto
		padding 0
		width 80%

		.profile-unit
			margin 0 0 1rem 0
			padding 0
			width 50%
			float left

		.alpha-heading
			gigyaFormTitleFont(3rem, 1.333)
			margin 0 0 1rem 0
			padding 0

		.beta-heading
			gigyaFormTitleFont(2rem, 1.333)
			margin 0 0 1rem 0
			padding 1.3rem 0 0 0

.profile-unit-list
	div.gig-achievements-container
		overflow-y scroll

@media $format-hamburger-menu
	.profile-manager
		.profile-unit-list
			.profile-unit
				width 100%
				float none

// Login dialog box
@media $format-mobile
	.gigya-screen-dialog
		width 94%
		left 3% !important
