.focus-marker
	position absolute
	top 50vh
	color white

#go-to-top
	position absolute
	text-align center
	top 0
	left 0
	right 0
	z-index 99
	height 2rem
	background-color $iRed
	color #ffffff
	font-size 2rem
	padding-top 0.4rem
	&.hidden
		// To prevent jumping of the scroll we'll hide rather than display:none this element
		visibility hidden