
.avatar-thumbnail
	height 3rem
	width 3rem
.logged-out-icon
	height 2rem
	width 2rem

.avatar
	border 0.2rem solid #ffffff
	border-radius 2rem
	background-image url(/svg/person.svg) // use our default person as a placeholder if the social login doesnt proviede one
	background-size cover
	background-repeat no-repeat

.nickname
	font-size 1.2rem
	font-weight 700
	vertical-align middle
	height inherit


// Hide the user menu when logged out
.user-menu
	transform translateY(-100%)
	transition transform 400ms ease-in-out

	// conditions to show user menu...
	.logged-in.user-menu-active &
		transform translateY(0)

	// format the menu items
	.menu-item
		menuItem( 6.8rem, 2.5rem )
		a
			font-size 1.2rem
	.user-info
		height 23rem
	.nickname
		margin-top 1rem
		font-size 1.8rem
	.avatar
		margin 0 auto
		width 13rem
		height 13rem
		border-radius 10rem

// position avatar / person icon in the horizontal top menu
.top-menu
	.logged-out-icon
		position absolute
		left 3.2rem
		top 1.3rem
		height 2.5rem
		width 2.5rem

	.avatar-thumbnail
		position absolute
		left 2.5rem
		top 0.6rem
		height 4rem
		width 4rem



// Toggle the logged in / logged out icon visibility...
.logged-out-icon
	display block
	.logged-in &
		display none
.logged-in-icon
	display none
	.logged-in &
		display block


// handle hiding / showing of mobile / desktop versions
.mobile .desktop-version
	display none!important
@media $format-hamburger-menu
	.desktop-version
		display none!important

@media $format-big-menu
	.responsive
		.mobile-version
			display none!important


// Style top nav menu for mobile / tablet
small-top-nav()
	$top-nav-height = 4.4rem
	#top-nav
		height $top-nav-height
		border-bottom 0.2rem solid $mobileNavBorder
		.action.menu,
		.action.person
			border-left 0.2rem solid $mobileNavBorder
			.logged-out-icon
				margin-left .8rem
			.logged-in-icon
				margin-top -0.5rem
				padding-left .2rem
		.action.menu
			padding-left 1.8rem
		// ensure the drop-down menus are in the correct position
		.user-menu-wrapper,
		.main-menu-wrapper
			top $top-nav-height


// conditions to use small menu...
@media $format-hamburger-menu
	small-top-nav()
.mobile
	small-top-nav()

// styling for gigya mobile...
.gigya-screen-dialog-mobile
	right 0

@media $format-mobile
	// Hide the user menu when logged out
	.user-menu
		// format the menu items
		.menu-item
			&.logout 
				padding-top 0



