.home-logo
	.main-logo
		margin 0
		padding .4rem 0 0 1rem
		line-height 1.333
		
		svg
			width 10rem
			height 5rem
			&:hover 
				cursor pointer
			
	.branding-logo
		margin 0
		padding 0 0 0 1rem
		display inline-block
		.logo_from_independent
			width 14rem
			height 5rem

				
@media $format-hamburger-menu
	.home-logo
		.main-logo
			line-height 1
			padding-top 0
			.logo_i100
				width 6rem
				height 4rem