
.social-toolbar
	.facebook
		&:hover
			.icon-body
				fill #4F74B7
	.twitter
		&:hover
			.icon-body
				fill #10C7FF
	.google-plus
		&:hover
			.icon-body
				fill #FF5548
	.linked-in
		&:hover
			.icon-body
				fill #0097D3
	.reddit
		&:hover
			.icon-body
				fill #F4F4F4
	.pinterest
		&:hover
			.icon-body
				fill #EA1827
	.icon-share
		&:hover
			.icon-body
				fill #EDECED

.article-head-bloc
	position relative
	z-index 10
	.social-toolbar
		list-style-type none
		text-align center
		margin 0
		padding 3rem 0

		.icon-round
			svg
				width 5rem
				height 5rem

		.social-item
			display inline-block
			padding 0 1rem

			&:hover
				cursor pointer
		
			.up-l
				width 15rem
				height 5rem
		
		.upvote
			position relative
			.cta
				position absolute
				top 24%
				left 38%
				color white
				text-transform uppercase
			.unselected 
				display block
			.is-selected
				display none
			&.disabled
				.unselected 
					display none
				.is-selected
					display block
				
	
		.share
			position relative

			.share-box
				position absolute
				top 6.6rem
				left -3.5rem
				display none
				flex-wrap wrap
				width 14rem
				margin 0
				padding $shareMenuOutterGutter $shareMenuOutterGutter 0 $shareMenuOutterGutter
				background-color $shareMenuBgnd // HEX = #111111
				border-radius 5px

				&:before
					content ' '
					display block
					width 0
					height 0 
					border-left $shareMenuTriangle solid transparent
					border-right $shareMenuTriangle solid transparent
					border-bottom $shareMenuTriangle solid $shareMenuBgnd // HEX = #111111
					top -1.5rem
					left 40%
					position absolute

				&.is-visible
					display flex

				.social-item
					flex 1
					flex-basis 50%
					padding 0 0 $shareMenuOutterGutter 0
					&:nth-child(odd)
						padding-right $shareMenuInnerGutter
					&:nth-child(even)
						padding-left $shareMenuInnerGutter


@media $format-x-small
	.article-head-bloc 
		.social-toolbar 
			.share 
				.share-box
					width 8rem
					left -0.7rem
					
					&:before
						left 35%

					&.is-visible
						display block

					.social-item
						flex none
						flex-basis auto
						display block
						&:nth-child(odd)
							padding-right 0
						&:nth-child(even)
							padding-left 0
			.upvote
				.cta
					font-size 1.3rem

			.icon-round
				svg
					width 4rem
					height 4rem

			.social-item
				.up-l
					width 12rem
					height 4rem








