.spotlight
	background-color $spotlightBgnd

	a
		text-decoration none

	.contents
		padding 1rem

	.hero
		display block
		margin 0 0 1rem 0

	.headline-wrapper
		.displayDate
			color $iGrey
			font-size 1.2rem
			margin 0 0 1rem 0
		.headline
			font-family $font-alphaSlab
			font-size 2rem
			.rank 
				color $iRed
			.headline-inner
				line-height 1.333
				color $articleHeadline
				text-decoration none

	.action
		border-top 1px solid $shareBarBorder
		border-bottom 1px solid $shareBarBorder
		.icon
			border none
			display inline-block
			width 50%
			line-height 4rem
			.icon-wrap
				display inline-block
				position relative
				

			&.upvote
				text-align left
				padding 0 0 0 2rem
			&.shares
				// TODO - COMMENTED OUT FOR NOW SO WHILE WE FIND HOW TO PULL THE SHARES IN
				display none;
				// TODO - COMMENTED OUT FOR NOW SO WHILE WE FIND HOW TO PULL THE SHARES IN
				text-align right
				padding 0 2rem 0 0
			.cta
				position absolute
				top 6%
				left 28%
				color white
				font-size 1rem
				text-transform uppercase
				&:hover
					cursor pointer

			.unselected 
				display block
			.is-selected
				display none
			&.disabled
				.unselected 
					display none
				.is-selected
					display block

			.up-l
				width 8.5rem
				height 3.5rem
			.share-icon
				width 2rem
				height 2rem