doctype html
//-
    This client side script checks for cookie support and if enabled
    it sets a viewport_width cookie and reloads the page
    If there is no cookie support then it redirects to the responsive fallback site
    using the querystring ?v=r
html
    head
        meta(http-equiv='refresh' content='1; ?js=false')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui')

    script.
            if(navigator.cookieEnabled){
               var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
               var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;
               document.cookie = "viewport_width=" + Math.min(width, height);
                document.location.reload(true);
            }
            else{
               document.location.search = '?c=false';
            }
    body
        // Browser feature check