- var gigyaKey = globals.settings.apiKey;
- var gigyaSite = globals.settings.gigyaSite;
- var _category = category || {};
- var titleTag = (article) ? article.headline : 'i100 - ' + _category.text;
- titleTag = (titleTag) ? titleTag : globals.sitemap.name;
- if(userpage) {
-	titleTag = 'i100 - User Profile'
- }

- var metaDescription = (article) ? false : _category.description;
- metaDescription = (metaDescription) ? metaDescription : false;
doctype html
html(class=format)
	head


		title= titleTag
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
		meta(name="apple-mobile-web-app-capable", content="yes")
		if metaDescription
			meta(name="description", content=metaDescription)
		base(target="_blank")

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato:400,700|Roboto+Slab')
		link(type='text/plain', rel='author', href=globals.settings.server.WEB + '/humans.txt')

		//-
			If format is responsive we'll load CSS as a separate http request

		- if(format === 'responsive')
			link(rel='stylesheet', href='/css/responsive.css')

		link(rel="shortcut icon", href="/favicon.ico")
		link(rel="icon", sizes="16x16 32x32 64x64", href="/favicon.ico")
		link(rel="icon", type="image/png", sizes="196x196", href="/images/favicon/favicon-196.png")
		link(rel="icon", type="image/png", sizes="160x160", href="/images/favicon/favicon-160.png")
		link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon/favicon-96.png")
		link(rel="icon", type="image/png", sizes="64x64", href="/images/favicon/favicon-64.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon/favicon-32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon/favicon-16.png")
		link(rel="apple-touch-icon", sizes="152x152", href="/images/favicon/favicon-152.png")
		link(rel="apple-touch-icon", sizes="144x144", href="/images/favicon/favicon-144.png")
		link(rel="apple-touch-icon", sizes="120x120", href="/images/favicon/favicon-120.png")
		link(rel="apple-touch-icon", sizes="114x114", href="/images/favicon/favicon-114.png")
		link(rel="apple-touch-icon", sizes="76x76", href="/images/favicon/favicon-76.png")
		link(rel="apple-touch-icon", sizes="72x72", href="/images/favicon/favicon-72.png")
		link(rel="apple-touch-icon", href="/images/favicon/favicon-57.png")
		meta(name="msapplication-TileColor", content="#000000")
		meta(name="msapplication-TileImage", content="/images/favicon/favicon-144.png")
		meta(name="msapplication-config", content="/images/favicon/browserconfig.xml")

		//-
			We'll inline styles on mobile to reduce requests

		- if(format === 'mobile')
			style
				include ../public/css/common.css
				include ../public/css/mobile.css

		//-
			handle open graph data

		- if(article && article.status != 'error')
			meta(property="og:title", content=article.shortHeadline)
			meta(property="og:type", content="article")
			meta(property="og:url", content=article.displayURL)
			meta(property="og:site_name", content='i100')
			meta(property="og:image", content=ogImage)


		include snippets/advertHeader
	body
		#main-container
			include snippets/topNav
			#wrapper
				#article-column.article-column
					#article-container.article-container
						- if(article)
							include snippets/article
						- if(category)
							include snippets/discovery
						- if(userpage && userpage === 'account')
							include snippets/user/account
						- if(userpage && userpage === 'profile')
							include snippets/user/profile
						- if(userpage && userpage === 'login')
							include snippets/user/login
						- if(userpage && userpage === 'register')
							include snippets/user/register
				include snippets/list
				- if(format === 'responsive')
					nav#footer

						//-
							because nobody remembers to update the copyright year ;)

						.copyright= '© ' + (new Date).getFullYear()
						include snippets/footer
				#veil
		script(src="http://cdn.gigya.com/js/socialize.js?apiKey=" + gigyaKey)
			| {
			= "siteName: '" + gigyaSite + "', enabledProviders: 'facebook,twitter,googleplus,instagram,yahoo,linkedin'"
			| }

		//-
			TODO Add a cache-bust to the main.js URL
		script(src="/js/main.js")
			| {
			!=  '"listUrl" : "' + globals.settings.server.LIST + '"'
			| }


		include snippets/googleAnalytics
		include snippets/omniture