doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9" xmlns:image="http://www.google.co.uk/schemas/sitemap-image/1.1")
	//- Articles
	each article in articles
		url
			loc= article.displayURL
			news:news
				news:publication
					news:name= global.sitemap.name
					news:language= global.sitemap.lang
				news:publication_date= article.formattedDate
				news:title= article.headline
				news:keywords= article.tags
			if article.images
				for image in article.images
					if image.type === 'thumbnail'
						image:image
							image:loc
								=image.url
