/* Declare the mobile specific styles below

N.b. These will be loaded into the responsive stylesheet too, and used when appropriate
*/
/* Mobile top menu layout with hamburger */
/* Prevent tap highlighting */
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#top-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#top-nav nav {
  height: inherit;
}
@media all and (max-width: 639px) {
  #drawer {
    position: absolute;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: visible;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    -moz-transition: -moz-transform 600ms ease-in-out;
    -o-transition: -o-transform 600ms ease-in-out;
    -ms-transition: -ms-transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out;
    border-right: 0.4rem solid #ec1b2e;
  }
  .drawer-open #drawer {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  #drawer-bar {
    height: 5rem;
    z-index: 2;
  }
  #drawer-handle {
    font-size: 3.5rem;
    white-space: nowrap;
    top: 0.5rem;
    position: absolute;
    z-index: 2;
    right: -4rem;
    height: 4rem;
    width: 7rem;
    color: #fff;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #ec1b2e;
  }
  #drawer-handle svg {
    -webkit-transform: translateX(60%);
    -moz-transform: translateX(60%);
    -o-transform: translateX(60%);
    -ms-transform: translateX(60%);
    transform: translateX(60%);
    -webkit-transition: all 500ms ease-in-out 500ms;
    -moz-transition: all 500ms ease-in-out 500ms;
    -o-transition: all 500ms ease-in-out 500ms;
    -ms-transition: all 500ms ease-in-out 500ms;
    transition: all 500ms ease-in-out 500ms;
    height: 100%;
    width: 3rem;
  }
  .drawer-open #drawer-handle svg {
    -webkit-transform: translateX(-60%) rotateY(180deg);
    -moz-transform: translateX(-60%) rotateY(180deg);
    -o-transform: translateX(-60%) rotateY(180deg);
    -ms-transform: translateX(-60%) rotateY(180deg);
    transform: translateX(-60%) rotateY(180deg);
  }
  #list-wrapper {
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .article-column {
    border-left: 0.4rem solid #ec1b2e;
  }
}
.top-menu-active #top-nav .hamburger rect {
  fill: #ec1b2e;
}
#home-logo {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.action.menu {
  width: 6rem;
  height: inherit;
  padding-top: 1.8rem;
  text-align: center;
}
.menu-item {
  margin: 0;
  padding-top: auto;
  height: auto;
  text-align: center;
  border-bottom: 0.2rem solid #444;
  border-left: 0.7rem solid #444;
  background-color: rgba(0,0,0,0.9);
}
.menu-item a {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-item a {
  display: block;
  height: 7rem;
  line-height: 7rem;
}
.menu-item a.top-face {
  display: none;
}
.top-menu .menu-item {
  font-weight: 700;
}
.top-menu .menu-item:nth-child(1) {
  border-left-color: #ed1b2f;
}
.top-menu .menu-item:nth-child(2) {
  border-left-color: #e67e22;
}
.top-menu .menu-item:nth-child(3) {
  border-left-color: #f1c40f;
}
.top-menu .menu-item:nth-child(4) {
  border-left-color: #57d68d;
}
.top-menu .menu-item:nth-child(5) {
  border-left-color: #40a9ef;
}
.top-menu .menu-item:nth-child(6) {
  border-left-color: #3f57ec;
}
.top-menu .menu-item:nth-child(7) {
  border-left-color: #9b2fc7;
}
.top-menu .menu-item:nth-child(8) {
  border-left-color: #d43998;
}
.footer-menu .menu-item {
  border-left-color: #a0a0a0;
}
.footer-menu .menu-item a {
  font-size: 1.6rem;
}
/* Hide the dom elements for 3d menu on the mobile version */
.top-face,
.third-face {
  display: none;
}
#footer {
  display: none;
}
