html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* ... unless it is a gigya UI element */
}
.gigya-screen-dialog *,
.gigya-screen-dialog *:before,
.gigya-screen-dialog *:after,
.gig-bar-container *,
.gig-bar-container *:before,
.gig-bar-container *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 6px;
  font-family: 'Lato', sans-serif;
}
@media all and (min-width: 320px) and (max-width: 399px) {
  html {
    font-size: 9px;
  }
}
@media all and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 10px;
  }
}
@media all and (min-width: 480px) and (max-width: 559px) {
  html {
    font-size: 12px;
  }
}
@media all and (min-width: 560px) and (max-width: 639px) {
  html {
    font-size: 14px;
  }
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media all and (min-width: 1025px) and (max-width: 1279px) {
  html {
    font-size: 10px;
  }
}
@media all and (min-width: 1280px) {
  html {
    font-size: 12px;
  }
}
body {
  overflow-y: hidden;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
#veil {
  display: none;
  background-color: #000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
/* conditions to display veil*/
}
.modal #veil {
  display: block;
}
@media all and (min-width: 640px) {
  #drawer-handle {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}
@media all and (min-width: 1025px) {
  .mobile-only {
    display: none !important;
  }
}
#top-nav {
  background-color: #191919;
  height: 6rem;
  z-index: 10;
  color: #f4f4f4;
/* Style the actions */
}
#top-nav .action {
  height: inherit;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 6rem;
  padding: 1.2rem;
  position: relative;
}
#top-nav a {
  color: inherit;
  text-decoration: none;
}
#main-container {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
  z-index: 1;
  min-height: 0;
}
#article-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
/* so that scroll markers work */
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
#article-container .scrollMarker {
  border-top: 1px solid #f00;
  color: #fff;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
}
.action {
  padding: 0;
  font-size: 1rem;
  display: table;
  width: 100%;
}
.action .icon {
  display: table-cell;
  list-style: none;
  color: #666;
  border-right: 1px solid #bbb;
  vertical-align: middle;
  text-align: center;
  height: 4.4em;
  position: relative;
}
.action .icon:last-child {
  border-right-width: 0;
}
.action .icon .meta {
  line-height: 1em;
  display: inline-block;
  margin: 0;
  text-align: center;
  min-width: 4rem;
  font-size: 1.4em;
}
.action .icon svg {
  display: inline-block;
  line-height: 4.4em;
  vertical-align: middle;
  margin-right: 1em;
}
.action .icon .up-s {
  height: 4em;
  width: 3em;
}
.action .icon .up-l {
  height: 4em;
  width: 8em;
}
.action .icon .icon-comment,
.action .icon .icon-share {
  width: 1.8em;
  height: 4em;
}
#drawer {
  width: 32rem;
  background-color: #d0d2d5;
  text-align: center;
  -webkit-box-shadow: inset -6px 0 15px -7px rgba(0,0,0,0.6);
  box-shadow: inset -6px 0 15px -7px rgba(0,0,0,0.6);
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-top: 1.3rem;
  color: #333;
}
#drawer .title {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 2rem;
}
.card {
  background: #fff;
  margin: 0 0.4rem 0.7rem 0.4rem;
  padding-top: 1rem;
  position: relative;
  text-align: left;
  display: block;
  border-left: 0.4rem #008b8b solid;
}
.card .contents {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.card h3 {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 1.6rem;
  line-height: 1.25;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1rem;
}
.card h3 a {
  color: #333;
  text-decoration: none;
}
.card h3 .displayDate {
  clear: both;
  float: left;
  display: block;
  font-size: 1.2rem;
  width: 100%;
  color: #c3c3c3;
}
.card img {
  width: 9.4rem;
  height: 6.8rem;
  background: #a0a0a0 url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") no-repeat scroll center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.card .action {
  border-top: 1px solid #bbb;
}
.card .action .iconic {
  fill: #a0a0a0;
}
.card.new {
  background: #fe9;
}
.content-header {
  padding: 3rem 0 0 0;
}
.leaderboard hr {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border: 0;
  height: 1rem;
  background: url("../images/hrule.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.upvote-arrow {
  fill: #fff;
}
.svg-upvote .down {
  fill: #b21f24;
/* inactive state */
}
.disabled .svg-upvote .down {
  fill: #b7d54b !important;
}
.svg-upvote .pill {
  fill: #eb1e2f;
/* inactive state */
}
.disabled .svg-upvote .pill {
  fill: transparent !important;
}
.svg-upvote:hover {
  cursor: pointer;
}
.svg-upvote:hover .down {
  fill: #b21f24;
/* acts as shadow */
}
.svg-upvote:hover .pill {
  fill: #d41f2a;
}
.svg-upvote:active .down,
.svg-upvote:visited .down,
.linked .svg-upvote .down {
  fill: #b7d54b;
/* acts as pill! */
}
.svg-upvote:active .pill {
  fill: transparent;
}
.resized .resizable {
  height: auto !important;
  width: auto !important;
}
.vote-bar {
  position: absolute;
  top: 1.8rem;
  left: 13.2rem;
}
.article-column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  background-color: #fff;
}
.article-column {
  overflow: hidden;
}
article {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 0 0 3rem 0;
  font-size: 1.6rem;
  color: color-body;
  line-height: 1.5em;
}
article .article-head-bloc {
  background-color: #fff;
}
article .article-width {
  margin-left: auto;
  margin-right: auto;
  padding: 0 7%;
}
article .article-width.leaderboard {
  padding: 0;
  text-align: center;
}
article .article-width.leaderboard .mpu {
  display: inline-block;
  overflow: hidden;
}
@media all and (min-width: 1050px) {
  article .article-width {
    padding: 0;
    max-width: 64rem;
  }
}
article .headline {
  font-family: 'Alfa Slab One', 'Rockwell', serif;
  font-size: 3.8rem;
  margin-bottom: 1.4rem;
/* 2rem in VD */
  text-align: center;
  max-width: 100%;
  line-height: normal;
}
@media all and (min-width: 960px) {
  article .headline {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}
article .body p:first-child {
  color: #333;
}
article .body p {
  line-height: 1.5em;
  color: #444;
}
article .body h1,
article .body h2,
article .body h3,
article .body h4,
article .body h5,
article .body h6,
article .body hr {
  font-size: 2.2rem;
  margin-bottom: 2rem;
/* 3rem in VD */
  color: #444;
}
article .body ul,
article .body ol {
  padding-left: 4rem;
}
article .body ol {
  list-style-type: decimal;
}
article .body ul {
  list-style-type: none;
  position: relative;
}
article .body ul>li:before {
  content: '•';
  position: absolute;
  left: 2rem;
  margin-top: -0.2rem;
  font-size: 2rem;
  color: iRed;
}
article .body pre,
article .body p,
article .body li,
article .body ul,
article .body ol,
article .body blockquote {
  margin-bottom: 3rem;
}
article .body p img {
  display: block;
  margin: 0 auto;
}
article .body blockquote {
  position: relative;
  padding-top: 3rem;
  font-family: 'Alfa Slab One', 'Rockwell', serif;
}
article .body blockquote p:last-child::after {
  content: ' „';
  color: #ec1b2e;
  font-size: 9rem;
  position: absolute;
  margin-top: -2.6rem;
}
@media all and (max-width: 959px) {
  article .body blockquote p:last-child::after {
    font-size: 9rem;
  }
}
@media all and (min-width: 960px) {
  article .body blockquote {
    padding-top: 0;
    width: column;
    margin: 0 auto;
  }
}
article .body blockquote p,
article .body blockquote h1,
article .body blockquote h2,
article .body blockquote h3,
article .body blockquote h4,
article .body blockquote h5,
article .body blockquote h6 {
  color: #333;
  font-size: 2.2rem;
}
article .body blockquote:before {
  content: '“';
  color: #ec1b2e;
  font-size: 9rem;
}
@media all and (max-width: 959px) {
  article .body blockquote:before {
    float: left;
    height: 4rem;
    margin-top: 2rem;
    font-size: 9rem;
    margin-right: 0.1em;
  }
}
@media all and (min-width: 960px) {
  article .body blockquote:before {
    position: absolute;
    left: -5rem;
    top: 3.3rem;
  }
}
article .body table {
  border-style: solid;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  border-color: #cbcbcb;
  border-width: 0 0 1px 1px;
}
article .body td {
  border-style: solid;
  padding: 1rem;
  border-color: #cbcbcb;
  border-width: 1px 1px 0 0;
  color: #333;
}
article .body th {
  padding: 1rem;
  border-color: #747474;
  border-style: solid;
  border-width: 1px 1px 0 0;
  color: #fff;
}
article .body thead {
  font-weight: bold;
  background-color: #333;
}
article .body tr:nth-child(even) {
  background-color: #f7f7f7;
}
article figure {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  margin: 0 0 2.8333rem 0;
  width: 100%;
}
article .img-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
article img {
  display: block;
  max-width: 100%;
}
article figcaption {
  background-color: rgba(0,0,0,0.8);
  font-size: 1.4rem;
  color: #fff;
}
article figcaption .credit {
  text-transform: uppercase;
}
article figcaption .close {
  position: absolute;
  right: 1rem;
}
article .info {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem 0 0 1rem;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
article .show-caption figcaption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
article .show-caption .info {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
article .hero {
  max-width: 100%;
  width: 100%;
  position: relative;
}
article .hero .hero-img {
  position: relative;
  z-index: 1;
  width: 100%;
}
article .status-info {
  text-align: center;
  color: #a0a0a0;
  font-size: 1.2rem;
}
article .byline {
  color: #ec1b2e;
}
article .rank {
  color: #ec1b2e;
}
article .action {
  height: 6rem;
  font-size: 1.136rem;
  max-width: 64rem;
  margin: 0 auto 4rem;
  width: 86%;
}
article .caption-wrap {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
}
article .hero-caption {
  padding: 0.5em 1em;
}
.home-logo .main-logo {
  margin: 0;
  padding: 0.4rem 0 0 1rem;
  line-height: 1.333;
}
.home-logo .main-logo svg {
  width: 10rem;
  height: 5rem;
}
.home-logo .main-logo svg:hover {
  cursor: pointer;
}
.home-logo .branding-logo {
  margin: 0;
  padding: 0 0 0 1rem;
  display: inline-block;
}
.home-logo .branding-logo .logo_from_independent {
  width: 14rem;
  height: 5rem;
}
@media all and (max-width: 1024px) {
  .home-logo .main-logo {
    line-height: 1;
    padding-top: 0;
  }
  .home-logo .main-logo .logo_i100 {
    width: 6rem;
    height: 4rem;
  }
}
.article-list .mpu-card {
  margin: 0 0 1rem 0;
}
@media all and (min-width: 1025px) {
  .mpu {
    height: 90px;
    text-align: center;
  }
}
@media all and (max-width: 1024px) {
  .mpu {
    height: 90px;
    overflow: hidden;
  }
}
.social-toolbar .facebook:hover .icon-body {
  fill: #4f74b7;
}
.social-toolbar .twitter:hover .icon-body {
  fill: #10c7ff;
}
.social-toolbar .google-plus:hover .icon-body {
  fill: #ff5548;
}
.social-toolbar .linked-in:hover .icon-body {
  fill: #0097d3;
}
.social-toolbar .reddit:hover .icon-body {
  fill: #f4f4f4;
}
.social-toolbar .pinterest:hover .icon-body {
  fill: #ea1827;
}
.social-toolbar .icon-share:hover .icon-body {
  fill: #edeced;
}
.article-head-bloc {
  position: relative;
  z-index: 10;
}
.article-head-bloc .social-toolbar {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 3rem 0;
}
.article-head-bloc .social-toolbar .icon-round svg {
  width: 5rem;
  height: 5rem;
}
.article-head-bloc .social-toolbar .social-item {
  display: inline-block;
  padding: 0 1rem;
}
.article-head-bloc .social-toolbar .social-item:hover {
  cursor: pointer;
}
.article-head-bloc .social-toolbar .social-item .up-l {
  width: 15rem;
  height: 5rem;
}
.article-head-bloc .social-toolbar .upvote {
  position: relative;
}
.article-head-bloc .social-toolbar .upvote .cta {
  position: absolute;
  top: 24%;
  left: 38%;
  color: #fff;
  text-transform: uppercase;
}
.article-head-bloc .social-toolbar .upvote .unselected {
  display: block;
}
.article-head-bloc .social-toolbar .upvote .is-selected {
  display: none;
}
.article-head-bloc .social-toolbar .upvote.disabled .unselected {
  display: none;
}
.article-head-bloc .social-toolbar .upvote.disabled .is-selected {
  display: block;
}
.article-head-bloc .social-toolbar .share {
  position: relative;
}
.article-head-bloc .social-toolbar .share .share-box {
  position: absolute;
  top: 6.6rem;
  left: -3.5rem;
  display: none;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 14rem;
  margin: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: rgba(17,17,17,0.9);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.article-head-bloc .social-toolbar .share .share-box:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid rgba(17,17,17,0.9);
  top: -1.5rem;
  left: 40%;
  position: absolute;
}
.article-head-bloc .social-toolbar .share .share-box.is-visible {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.article-head-bloc .social-toolbar .share .share-box .social-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  padding: 0 0 1.5rem 0;
}
.article-head-bloc .social-toolbar .share .share-box .social-item:nth-child(odd) {
  padding-right: 0.5rem;
}
.article-head-bloc .social-toolbar .share .share-box .social-item:nth-child(even) {
  padding-left: 0.5rem;
}
@media all and (max-width: 639px) {
  .article-head-bloc .social-toolbar .share .share-box {
    width: 8rem;
    left: -0.7rem;
  }
  .article-head-bloc .social-toolbar .share .share-box:before {
    left: 35%;
  }
  .article-head-bloc .social-toolbar .share .share-box.is-visible {
    display: block;
  }
  .article-head-bloc .social-toolbar .share .share-box .social-item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    display: block;
  }
  .article-head-bloc .social-toolbar .share .share-box .social-item:nth-child(odd) {
    padding-right: 0;
  }
  .article-head-bloc .social-toolbar .share .share-box .social-item:nth-child(even) {
    padding-left: 0;
  }
  .article-head-bloc .social-toolbar .upvote .cta {
    font-size: 1.3rem;
  }
  .article-head-bloc .social-toolbar .icon-round svg {
    width: 4rem;
    height: 4rem;
  }
  .article-head-bloc .social-toolbar .social-item .up-l {
    width: 12rem;
    height: 4rem;
  }
}
.article-column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}
.article-column #article-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.article-header {
  position: relative;
  z-index: 100;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  -ms-transition: 300ms ease;
  transition: 300ms ease;
}
.article-header .social-toolbar {
  margin: 0;
  padding: 3px 0;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(241,241,241,0.95);
}
.article-header .social-toolbar .social-item.ranking {
  font-family: 'Alfa Slab One', 'Rockwell', serif;
  font-size: 3rem;
}
.article-header.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media all and (max-width: 1024px) {
  .article-header .social-toolbar .social-item {
    margin: 0;
    padding: 0 8px;
  }
  .article-header .social-toolbar .social-item.ranking {
    font-family: 'Alfa Slab One', 'Rockwell', serif;
    font-size: 3rem;
    line-height: 4.8rem;
  }
  .article-header .social-toolbar .icon .up-l {
    width: 12rem;
    height: 6rem;
  }
  .article-header .social-toolbar .icon .up-s,
  .article-header .social-toolbar .icon .facebook,
  .article-header .social-toolbar .icon .twitter,
  .article-header .social-toolbar .icon .share {
    width: 4rem;
    height: 4rem;
  }
}
@media all and (min-width: 1025px) {
  .article-header .social-toolbar {
    padding: 1rem 0;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .article-header .social-toolbar:after {
    content: ' ';
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .article-header .social-toolbar .social-item {
    margin: 0;
    padding: 0;
  }
  .article-header .social-toolbar .social-item.ranking {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    margin: 0 4rem 0 0;
  }
  .article-header .social-toolbar .social-item.upvote {
    position: relative;
  }
  .article-header .social-toolbar .social-item.upvote .label {
    color: #fff;
    position: absolute;
    top: 1.4rem;
    right: 3.2rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .article-header .social-toolbar .social-item.upvote {
    width: 12rem;
  }
  .article-header .social-toolbar .social-item.facebook,
  .article-header .social-toolbar .social-item.twitter,
  .article-header .social-toolbar .social-item.share {
    width: 4rem;
  }
  .article-header .social-toolbar .icon .up-s {
    display: none;
  }
  .article-header .social-toolbar .icon .up-l {
    width: 10rem;
    height: 4rem;
  }
  .article-header .social-toolbar .icon .up-s,
  .article-header .social-toolbar .icon .facebook,
  .article-header .social-toolbar .icon .twitter,
  .article-header .social-toolbar .icon .share {
    width: 3rem;
    height: 3rem;
  }
}
.avatar-thumbnail {
  height: 3rem;
  width: 3rem;
}
.logged-out-icon {
  height: 2rem;
  width: 2rem;
}
.avatar {
  border: 0.2rem solid #fff;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  background-image: url("/svg/person.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.nickname {
  font-size: 1.2rem;
  font-weight: 700;
  vertical-align: middle;
  height: inherit;
}
.user-menu {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  -moz-transition: -moz-transform 400ms ease-in-out;
  -o-transition: -o-transform 400ms ease-in-out;
  -ms-transition: -ms-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
}
.logged-in.user-menu-active .user-menu {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.user-menu .menu-item {
  margin: 0;
  padding-top: 2.5rem;
  height: 6.8rem;
  text-align: center;
  border-bottom: 0.2rem solid #444;
  border-left: 0.7rem solid #444;
  background-color: rgba(0,0,0,0.9);
}
.user-menu .menu-item a {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.user-menu .menu-item a {
  font-size: 1.2rem;
}
.user-menu .user-info {
  height: 23rem;
}
.user-menu .nickname {
  margin-top: 1rem;
  font-size: 1.8rem;
}
.user-menu .avatar {
  margin: 0 auto;
  width: 13rem;
  height: 13rem;
  -webkit-border-radius: 10rem;
  border-radius: 10rem;
}
.top-menu .logged-out-icon {
  position: absolute;
  left: 3.2rem;
  top: 1.3rem;
  height: 2.5rem;
  width: 2.5rem;
}
.top-menu .avatar-thumbnail {
  position: absolute;
  left: 2.5rem;
  top: 0.6rem;
  height: 4rem;
  width: 4rem;
}
.logged-out-icon {
  display: block;
}
.logged-in .logged-out-icon {
  display: none;
}
.logged-in-icon {
  display: none;
}
.logged-in .logged-in-icon {
  display: block;
}
.mobile .desktop-version {
  display: none !important;
}
@media all and (max-width: 1024px) {
  .desktop-version {
    display: none !important;
  }
}
@media all and (min-width: 1025px) {
  .responsive .mobile-version {
    display: none !important;
  }
}
@media all and (max-width: 1024px) {
  #top-nav {
    height: 4.4rem;
    border-bottom: 0.2rem solid #444;
  }
  #top-nav .action.menu,
  #top-nav .action.person {
    border-left: 0.2rem solid #444;
  }
  #top-nav .action.menu .logged-out-icon,
  #top-nav .action.person .logged-out-icon {
    margin-left: 0.8rem;
  }
  #top-nav .action.menu .logged-in-icon,
  #top-nav .action.person .logged-in-icon {
    margin-top: -0.5rem;
    padding-left: 0.2rem;
  }
  #top-nav .action.menu {
    padding-left: 1.8rem;
  }
  #top-nav .user-menu-wrapper,
  #top-nav .main-menu-wrapper {
    top: 4.4rem;
  }
}
.mobile #top-nav {
  height: 4.4rem;
  border-bottom: 0.2rem solid #444;
}
.mobile #top-nav .action.menu,
.mobile #top-nav .action.person {
  border-left: 0.2rem solid #444;
}
.mobile #top-nav .action.menu .logged-out-icon,
.mobile #top-nav .action.person .logged-out-icon {
  margin-left: 0.8rem;
}
.mobile #top-nav .action.menu .logged-in-icon,
.mobile #top-nav .action.person .logged-in-icon {
  margin-top: -0.5rem;
  padding-left: 0.2rem;
}
.mobile #top-nav .action.menu {
  padding-left: 1.8rem;
}
.mobile #top-nav .user-menu-wrapper,
.mobile #top-nav .main-menu-wrapper {
  top: 4.4rem;
}
.gigya-screen-dialog-mobile {
  right: 0;
}
@media all and (max-width: 959px) {
  .user-menu .menu-item.logout {
    padding-top: 0;
  }
}
.user-menu-wrapper {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 6rem;
  bottom: 0;
  width: 32rem;
  z-index: -100;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0ms linear 600ms;
  -moz-transition: -moz-transform 0ms linear 600ms;
  -o-transition: -o-transform 0ms linear 600ms;
  -ms-transition: -ms-transform 0ms linear 600ms;
  transition: transform 0ms linear 600ms;
}
.user-menu-wrapper .inner-wrapper {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  height: 100%;
  overflow: hidden;
}
@media all and (max-width: 639px) {
  .user-menu-wrapper {
    width: 100%;
  }
}
.user-menu-active .user-menu-wrapper {
  z-index: 100;
  -webkit-transition: all 0ms linear 0ms;
  -moz-transition: all 0ms linear 0ms;
  -o-transition: all 0ms linear 0ms;
  -ms-transition: all 0ms linear 0ms;
  transition: all 0ms linear 0ms;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.user-menu-active .user-menu-wrapper .inner-wrapper {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media all and (max-width: 1024px) {
  .responsive .main-menu-wrapper {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 6rem;
    bottom: 0;
    width: 32rem;
    z-index: -100;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0ms linear 600ms;
    -moz-transition: -moz-transform 0ms linear 600ms;
    -o-transition: -o-transform 0ms linear 600ms;
    -ms-transition: -ms-transform 0ms linear 600ms;
    transition: transform 0ms linear 600ms;
  }
  .responsive .main-menu-wrapper .inner-wrapper {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    height: 100%;
    overflow: hidden;
  }
@media all and (max-width: 639px) {
    .responsive .main-menu-wrapper {
      width: 100%;
    }
}
  .top-menu-active.responsive .main-menu-wrapper {
    z-index: 100;
    -webkit-transition: all 0ms linear 0ms;
    -moz-transition: all 0ms linear 0ms;
    -o-transition: all 0ms linear 0ms;
    -ms-transition: all 0ms linear 0ms;
    transition: all 0ms linear 0ms;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .top-menu-active.responsive .main-menu-wrapper .inner-wrapper {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.mobile .main-menu-wrapper {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 6rem;
  bottom: 0;
  width: 32rem;
  z-index: -100;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0ms linear 600ms;
  -moz-transition: -moz-transform 0ms linear 600ms;
  -o-transition: -o-transform 0ms linear 600ms;
  -ms-transition: -ms-transform 0ms linear 600ms;
  transition: transform 0ms linear 600ms;
}
.mobile .main-menu-wrapper .inner-wrapper {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  height: 100%;
  overflow: hidden;
}
@media all and (max-width: 639px) {
  .mobile .main-menu-wrapper {
    width: 100%;
  }
}
.top-menu-active.mobile .main-menu-wrapper {
  z-index: 100;
  -webkit-transition: all 0ms linear 0ms;
  -moz-transition: all 0ms linear 0ms;
  -o-transition: all 0ms linear 0ms;
  -ms-transition: all 0ms linear 0ms;
  transition: all 0ms linear 0ms;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.top-menu-active.mobile .main-menu-wrapper .inner-wrapper {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
@media all and (min-width: 640px) {
  .top-menu-active #veil {
    display: block;
  }
}
@media all and (max-width: 1024px) {
  .user-menu-active #veil {
    display: block;
  }
}
#drawer {
  width: 32rem;
  background-color: #d0d2d5;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  color: #333;
}
#drawer .title {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 2rem;
  padding: 1.3rem 0 1rem 0;
}
.drawer-bar {
  position: relative;
}
.drawer-bar .title {
  margin: 0;
  padding: 0;
}
.drawer-bar .cta-refresh-list {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.4rem;
  left: 2.4rem;
}
.drawer-bar .cta-refresh-list:hover {
  cursor: pointer;
}
.drawer-bar .cta-refresh-list .refresh-icon {
  width: 1.9rem;
  height: 1.9rem;
}
.article-list {
  overflow: hidden;
}
.article-list .card {
  background: #fff;
  border-left: 0.4rem #008b8b solid;
  display: block;
  height: 13.4rem;
  margin: 0 0.4rem 0.7rem 0.4rem;
  padding: 1rem 0 0 0;
  position: relative;
  text-align: left;
  -webkit-box-shadow: 0 2px 3px 0 #aaa;
  box-shadow: 0 2px 3px 0 #aaa;
}
.article-list .card .new-flag {
  display: none;
  position: absolute;
  width: 4.2rem;
  height: 4rem;
  z-index: 2;
  top: 0.3rem;
  left: -0.8rem;
}
.article-list .card.discover {
  border-color: #ed1b2f;
}
.article-list .card.discover .new-flag .main-background {
  fill: #ed1b2f;
}
.article-list .card.news {
  border-color: #e67e22;
}
.article-list .card.news .new-flag .main-background {
  fill: #e67e22;
}
.article-list .card.people {
  border-color: #f1c40f;
}
.article-list .card.people .new-flag .main-background {
  fill: #f1c40f;
}
.article-list .card.videos {
  border-color: #57d68d;
}
.article-list .card.videos .new-flag .main-background {
  fill: #57d68d;
}
.article-list .card.sport {
  border-color: #40a9ef;
}
.article-list .card.sport .new-flag .main-background {
  fill: #40a9ef;
}
.article-list .card.tech {
  border-color: #3f57ec;
}
.article-list .card.tech .new-flag .main-background {
  fill: #3f57ec;
}
.article-list .card.offbeat {
  border-color: #9b2fc7;
}
.article-list .card.offbeat .new-flag .main-background {
  fill: #9b2fc7;
}
.article-list .card.ents {
  border-color: #d43998;
}
.article-list .card.ents .new-flag .main-background {
  fill: #d43998;
}
.article-list .article-thumb {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
  margin-top: 5px;
  width: 7.833333333rem;
  height: 5.666666667rem;
}
.article-list .contents {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0 1rem;
  padding: 0;
  cursor: pointer;
  position: relative;
  height: 65%;
}
.article-list .contents:after {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.7rem 0.3em rgba(0,0,0,0.1);
  box-shadow: 0 0 0.7rem 0.3em rgba(0,0,0,0.1);
  content: " ";
  display: none;
  position: absolute;
  right: -11%;
  top: 34%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 2.8rem;
  width: 2.8rem;
}
.article-list .is-selected .contents:after {
  display: block;
}
.article-list .headline-wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 1rem;
}
.article-list h3 {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 1.4rem;
  line-height: 1.25;
  margin: 0 0 0.2rem 0;
  padding: 0;
  max-height: 5.7rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.article-list h3 a {
  color: #333;
  text-decoration: none;
}
.article-list h3 .rank {
  color: #ec1b2e;
  font-size: 1.8rem;
}
.article-list .displayDate {
  font-size: 1rem;
  width: 100%;
  color: #c3c3c3;
}
.article-list .action {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(187,187,187,0.5);
  height: 35%;
  line-height: 4;
}
.article-list .action .icon {
  border: none;
  display: inline-block;
  height: 3.4rem;
  line-height: 3.4rem;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 50%;
}
.article-list .action .icon.upvote {
  padding-left: 1rem;
  text-align: left;
}
.article-list .action .icon.shares {
  padding-right: 1rem;
  text-align: right;
}
.article-list .action .icon .up-s {
  width: 2rem;
  height: 2rem;
}
.article-list .action .icon .share-icon {
  width: 1.4rem;
  height: 1.4rem;
}
.article-list .action .number {
  font-size: 1.2rem;
}
.article-list .iconic {
  fill: #a0a0a0;
}
.article-list .card.new {
  position: relative;
}
.article-list .card.new .new-flag {
  display: block;
}
.article-list .card.new .contents {
  position: relative;
}
@media all and (max-width: 1024px) {
  #drawer {
    width: 35.555555556rem;
  }
}
.comment-container {
  min-height: 13rem;
}
.comment-viewer {
  margin: 2rem auto 0;
}
.comment-button {
  height: 3.8rem;
  background-color: #c1c1c1;
  padding: 0.6rem 3rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: none;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.hide-comments .gig-comments-comments {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.hide-comments .gig-comments-header,
.hide-comments .gig-comments-updates,
.hide-comments .gig-comments-more,
.hide-comments .gig-comments-count {
  visibility: hidden;
}
.hide-comments .comment-button {
  display: inline-block;
}
html * .gig-composebox-post,
html * .gig-composebox-post:hover {
  background: #ec1b2e;
  border: none;
  text-transform: uppercase;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.article-discovery .spotlight {
  background-color: #fff;
}
.article-discovery .spotlight a {
  text-decoration: none;
}
.article-discovery .spotlight .contents {
  padding: 1rem;
}
.article-discovery .spotlight .hero {
  display: block;
  margin: 0 0 1rem 0;
}
.article-discovery .spotlight .headline-wrapper .displayDate {
  color: #a0a0a0;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}
.article-discovery .spotlight .headline-wrapper .headline {
  font-family: 'Alfa Slab One', 'Rockwell', serif;
  font-size: 2rem;
}
.article-discovery .spotlight .headline-wrapper .headline .rank {
  color: #ec1b2e;
}
.article-discovery .spotlight .headline-wrapper .headline .headline-inner {
  line-height: 1.333;
  color: #444;
  text-decoration: none;
}
.article-discovery .spotlight .action {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.article-discovery .spotlight .action .icon {
  border: none;
  display: inline-block;
  width: 50%;
  line-height: 4rem;
}
.article-discovery .spotlight .action .icon .icon-wrap {
  display: inline-block;
  position: relative;
}
.article-discovery .spotlight .action .icon.upvote {
  text-align: left;
  padding: 0 0 0 2rem;
}
.article-discovery .spotlight .action .icon.shares {
  display: none;
  text-align: right;
  padding: 0 2rem 0 0;
}
.article-discovery .spotlight .action .icon .cta {
  position: absolute;
  top: 6%;
  left: 28%;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.article-discovery .spotlight .action .icon .cta:hover {
  cursor: pointer;
}
.article-discovery .spotlight .action .icon .unselected {
  display: block;
}
.article-discovery .spotlight .action .icon .is-selected {
  display: none;
}
.article-discovery .spotlight .action .icon.disabled .unselected {
  display: none;
}
.article-discovery .spotlight .action .icon.disabled .is-selected {
  display: block;
}
.article-discovery .spotlight .action .icon .up-l {
  width: 8.5rem;
  height: 3.5rem;
}
.article-discovery .spotlight .action .icon .share-icon {
  width: 2rem;
  height: 2rem;
}
.article-discovery .category-heading {
  font-size: 4rem;
  font-family: 'Roboto Slab', 'Rockwell', serif;
  color: #363636;
  text-transform: capitalize;
}
.article-discovery .column-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media all and (max-width: 959px) {
  .article-discovery .column-wrapper {
    display: block;
  }
}
.article-discovery .column-wrapper .column {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding: 0 2rem 4rem;
  overflow: hidden;
}
.article-discovery .column-wrapper .column:last-child {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media all and (max-width: 959px) {
  .article-discovery .column-wrapper .column {
    width: 100%;
    margin: 0 auto;
  }
}
@media all and (min-width: 1280px) {
  .article-discovery .column-wrapper .column:first-child {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.article-discovery .column-wrapper .column img {
  width: 100%;
}
.focus-marker {
  position: absolute;
  top: 50vh;
  color: #fff;
}
#go-to-top {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 2rem;
  background-color: #ec1b2e;
  color: #fff;
  font-size: 2rem;
  padding-top: 0.4rem;
}
#go-to-top.hidden {
  visibility: hidden;
}
#gigya-login {
  margin: 0;
  padding: 2rem;
}
#gigya-login h1.gigya-screen-caption {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 4rem;
  line-height: 1.333;
  margin: 0 0 3.5rem 0;
  padding: 0;
  border: none;
}
#gigya-login .gigya-layout-row {
  margin: 0 0 1rem 0;
  padding: 0;
}
#gigya-login .gigya-composite-control {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 1.5rem;
  line-height: 1.333;
  margin: 0 0 1rem 0;
}
#gigya-login div.gigya-social-login {
  min-height: 0 !important;
  min-width: 0 !important;
  margin: 0 0 2rem 0;
}
#gigya-login .gigya-login-form {
  background-color: #f1f1f1;
  padding: 1rem;
  margin: 0 0 3rem 0;
}
#gigya-login .gigya-login-form .gigya-composite-control-textbox,
#gigya-login .gigya-login-form .gigya-composite-control-password,
#gigya-login .gigya-login-form .gigya-composite-control-submit {
  width: 50%;
}
.profile-manager {
  padding: 2rem 0;
}
.profile-manager .profile-unit-list {
  zoom: 1;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
.profile-manager .profile-unit-list:before,
.profile-manager .profile-unit-list:after {
  content: "";
  display: table;
}
.profile-manager .profile-unit-list:after {
  clear: both;
}
.profile-manager .profile-unit-list .profile-unit {
  margin: 0 0 1rem 0;
  padding: 0;
  width: 50%;
  float: left;
}
.profile-manager .profile-unit-list .alpha-heading {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 3rem;
  line-height: 1.333;
  margin: 0 0 1rem 0;
  padding: 0;
}
.profile-manager .profile-unit-list .beta-heading {
  font-family: 'Roboto Slab', 'Rockwell', serif;
  font-size: 2rem;
  line-height: 1.333;
  margin: 0 0 1rem 0;
  padding: 1.3rem 0 0 0;
}
.profile-unit-list div.gig-achievements-container {
  overflow-y: scroll;
}
@media all and (max-width: 1024px) {
  .profile-manager .profile-unit-list .profile-unit {
    width: 100%;
    float: none;
  }
}
@media all and (max-width: 959px) {
  .gigya-screen-dialog {
    width: 94%;
    left: 3% !important;
  }
}
/* Responsive styles

 - Extends the common and mobile styles
*/
@media all and (max-width: 1024px) {
  body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  #top-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
  #top-nav nav {
    height: inherit;
  }
@media all and (max-width: 639px) {
    #drawer {
      position: absolute;
      z-index: 10000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      overflow: visible;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: -webkit-transform 600ms ease-in-out;
      -moz-transition: -moz-transform 600ms ease-in-out;
      -o-transition: -o-transform 600ms ease-in-out;
      -ms-transition: -ms-transform 600ms ease-in-out;
      transition: transform 600ms ease-in-out;
      border-right: 0.4rem solid #ec1b2e;
    }
    .drawer-open #drawer {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -o-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
    }
    #drawer-bar {
      height: 5rem;
      z-index: 2;
    }
    #drawer-handle {
      font-size: 3.5rem;
      white-space: nowrap;
      top: 0.5rem;
      position: absolute;
      z-index: 2;
      right: -4rem;
      height: 4rem;
      width: 7rem;
      color: #fff;
      -webkit-border-radius: 2rem;
      border-radius: 2rem;
      background-color: #ec1b2e;
    }
    #drawer-handle svg {
      -webkit-transform: translateX(60%);
      -moz-transform: translateX(60%);
      -o-transform: translateX(60%);
      -ms-transform: translateX(60%);
      transform: translateX(60%);
      -webkit-transition: all 500ms ease-in-out 500ms;
      -moz-transition: all 500ms ease-in-out 500ms;
      -o-transition: all 500ms ease-in-out 500ms;
      -ms-transition: all 500ms ease-in-out 500ms;
      transition: all 500ms ease-in-out 500ms;
      height: 100%;
      width: 3rem;
    }
    .drawer-open #drawer-handle svg {
      -webkit-transform: translateX(-60%) rotateY(180deg);
      -moz-transform: translateX(-60%) rotateY(180deg);
      -o-transform: translateX(-60%) rotateY(180deg);
      -ms-transform: translateX(-60%) rotateY(180deg);
      transform: translateX(-60%) rotateY(180deg);
    }
    #list-wrapper {
      overflow: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .article-column {
      border-left: 0.4rem solid #ec1b2e;
    }
}
  .top-menu-active #top-nav .hamburger rect {
    fill: #ec1b2e;
  }
  #home-logo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .action.menu {
    width: 6rem;
    height: inherit;
    padding-top: 1.8rem;
    text-align: center;
  }
  .menu-item {
    margin: 0;
    padding-top: auto;
    height: auto;
    text-align: center;
    border-bottom: 0.2rem solid #444;
    border-left: 0.7rem solid #444;
    background-color: rgba(0,0,0,0.9);
  }
  .menu-item a {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .menu-item a {
    display: block;
    height: 7rem;
    line-height: 7rem;
  }
  .menu-item a.top-face {
    display: none;
  }
  .top-menu .menu-item {
    font-weight: 700;
  }
  .top-menu .menu-item:nth-child(1) {
    border-left-color: #ed1b2f;
  }
  .top-menu .menu-item:nth-child(2) {
    border-left-color: #e67e22;
  }
  .top-menu .menu-item:nth-child(3) {
    border-left-color: #f1c40f;
  }
  .top-menu .menu-item:nth-child(4) {
    border-left-color: #57d68d;
  }
  .top-menu .menu-item:nth-child(5) {
    border-left-color: #40a9ef;
  }
  .top-menu .menu-item:nth-child(6) {
    border-left-color: #3f57ec;
  }
  .top-menu .menu-item:nth-child(7) {
    border-left-color: #9b2fc7;
  }
  .top-menu .menu-item:nth-child(8) {
    border-left-color: #d43998;
  }
  .footer-menu .menu-item {
    border-left-color: #a0a0a0;
  }
  .footer-menu .menu-item a {
    font-size: 1.6rem;
  }
  .top-face,
  .third-face {
    display: none;
  }
  #footer {
    display: none;
  }
}
/*
  Desktop specific styles here...
*/
@media all and (min-width: 1025px) {
  #top-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
  #top-nav .footer-menu {
    display: none;
  }
  #top-nav .action.menu {
    display: none !important;
  }
  #footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    padding: 0.3rem 1rem 0.3rem 1rem;
    z-index: 100;
  }
  #footer li a {
    color: #333;
  }
  #footer * {
    display: inline-block;
    margin-right: 0.3rem;
  }
  #footer li:after {
    content: '|';
    margin-left: 0.3rem;
    color: #999;
  }
  #footer li:last-child:after {
    content: '';
  }
  #home-logo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.2rem;
    color: #fff;
    min-width: 5rem;
  }
  .top-menu {
    -webkit-perspective: 10000;
    -moz-perspective: 10000;
    -ms-perspective: 10000;
    perspective: 10000;
    font-size: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 6rem;
    overflow: hidden;
    padding: 0.4rem 0 0;
  }
  .top-menu .menu-item {
    position: relative;
    width: 8.4rem;
    height: 6rem;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-transform-origin: 50% 50% -8rem;
    -moz-transform-origin: 50% 50% -8rem;
    -o-transform-origin: 50% 50% -8rem;
    -ms-transform-origin: 50% 50% -8rem;
    transform-origin: 50% 50% -8rem;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .top-menu .menu-item:hover .third-face {
    -webkit-transform: rotateX(110deg);
    -moz-transform: rotateX(110deg);
    -o-transform: rotateX(110deg);
    -ms-transform: rotateX(110deg);
    transform: rotateX(110deg);
  }
  .top-menu .menu-item:hover .top-face {
    -webkit-transform: rotateX(50deg);
    -moz-transform: rotateX(50deg);
    -o-transform: rotateX(50deg);
    -ms-transform: rotateX(50deg);
    transform: rotateX(50deg);
  }
  .top-menu .menu-item:hover .front-face {
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
  }
  .top-menu .menu-item.active.selectable .third-face {
    -webkit-transform: rotateX(60deg);
    -moz-transform: rotateX(60deg);
    -o-transform: rotateX(60deg);
    -ms-transform: rotateX(60deg);
    transform: rotateX(60deg);
  }
  .top-menu .menu-item.active.selectable .top-face {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .top-menu .menu-item.active.selectable .front-face {
    -webkit-transform: rotateX(-60deg);
    -moz-transform: rotateX(-60deg);
    -o-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
  }
  .top-menu .menu-item.active.selectable:hover .third-face {
    -webkit-transform: rotateX(50deg);
    -moz-transform: rotateX(50deg);
    -o-transform: rotateX(50deg);
    -ms-transform: rotateX(50deg);
    transform: rotateX(50deg);
  }
  .top-menu .menu-item.active.selectable:hover .top-face {
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
  }
  .top-menu .menu-item.active.selectable:hover .front-face {
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -o-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
  }
  .top-menu .face {
    position: absolute;
    height: 5rem;
    width: inherit;
    -webkit-transform-origin: 50% 50% -4.33rem;
    -moz-transform-origin: 50% 50% -4.33rem;
    -o-transform-origin: 50% 50% -4.33rem;
    -ms-transform-origin: 50% 50% -4.33rem;
    transform-origin: 50% 50% -4.33rem;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2rem;
    border-left: 1px solid #555;
  }
  .top-menu .top-face {
    -webkit-transform: rotateX(60deg);
    -moz-transform: rotateX(60deg);
    -o-transform: rotateX(60deg);
    -ms-transform: rotateX(60deg);
    transform: rotateX(60deg);
  }
  .top-menu .front-face {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .top-menu .third-face {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    transform: rotateX(120deg);
  }
  .top-menu .front-face {
    background-color: #333 !important;
  }
  .top-menu .menu-item:nth-child(1) .face {
    background-color: #ed1b2f;
  }
  .top-menu .menu-item:nth-child(2) .face {
    background-color: #e67e22;
  }
  .top-menu .menu-item:nth-child(3) .face {
    background-color: #f1c40f;
  }
  .top-menu .menu-item:nth-child(4) .face {
    background-color: #57d68d;
  }
  .top-menu .menu-item:nth-child(5) .face {
    background-color: #40a9ef;
  }
  .top-menu .menu-item:nth-child(6) .face {
    background-color: #3f57ec;
  }
  .top-menu .menu-item:nth-child(7) .face {
    background-color: #9b2fc7;
  }
  .top-menu .menu-item:nth-child(8) .face {
    background-color: #d43998;
  }
}
