
article(id=article.dbid, data-id=article.dbid, data-url=article.displayURL, data-byline=article.byline, data-releasedate=article.releaseDate, data-headline=article.headline, itemscope itemtype="http://schema.org/Article", data-category=article.category)
	.focus-marker ---
	header.article-head-bloc.content-header
		.leaderboard.article-width
			include mpu
			hr
		h1.headline.article-width
			if article.rank
				span.rank= article.rank + '. '
			= article.headline
		.status-info
			if article.displayDate
				span.posted Posted&nbsp;
					= article.displayDate + ' '
			if article.byline
				| by&nbsp;
				span.byline(itemprop="creator")
					= article.byline + ' '
			if article.category
				span.category in&nbsp;
					= article.category

		menu(type="toolbar").social-toolbar
			li.social-item.upvote
				include ../../public/svg/upvote_large_complete_alt.svg
				span.cta.unselected Upvote
				span.cta.is-selected Upvoted
			li.social-item.icon-round.facebook.link(data-provider='facebook', data-share-config=article.shareConfig)
				include ../../public/svg/facebook.svg
			li.social-item.icon-round.twitter.link(data-provider='twitter', data-share-config=article.shareConfig)
				include ../../public/svg/twitter.svg
				=article.rank
			li.social-item.icon-round.share
				include ../../public/svg/share.svg
				ul.share-box
					li.social-item.icon-round.google-plus.link(data-provider='googleplus', data-share-config=article.shareConfig)
						include ../../public/svg/google+.svg
					li.social-item.icon-round.linkedin.link(data-provider='linkedin', data-share-config=article.shareConfig)
						include ../../public/svg/linkedIn.svg
					li.social-item.icon-round.reddit.link(data-provider='reddit', data-share-config=article.shareConfig)
						include ../../public/svg/reddit.svg
					li.social-item.icon-round.pinterest.link(data-provider='pinterest', data-share-config=article.shareConfig)
						include ../../public/svg/pinterest.svg

	figure.hero
		img.hero-img(src=article.heroImage.url, alt=article.heroImage.alt)
		if article.heroImage.caption || article.heroImage.credits
			div.caption-wrap
				figcaption.hero-caption= article.heroImage.caption + ' '
					span.credit= article.heroImage.credits
					
	.body.article-width(itemprop="articleBody")
		!= article.body
	- if(typeof article.comments !== 'undefined')
		- if(article.comments)
			.comment-container.article-width
	.load-marker
