//-
	This template serves the categories and the discovery page.

#discover.article-discovery(data-category=category.text, data-headline=category.title)
	header.content-header
	.leaderboard.article-width
		include mpu
		hr
	//- TODO - Not sure about this heading yet
	//- h1.category-heading= category.text
	.column-wrapper
		ul.column
			each item, index in articles
				if index % 2 === 0
					include spotlight
		ul.column
			each item, index in articles
				if index % 2 === 1
					include spotlight