//-
	Go to top marker.  This is initially hidden, but is revealed when user scrolls off the bottom of an article
	This gives them a simple route back to the top of the infinite (well finite: 100) article list.

#go-to-top.hidden ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^