nav#drawer.drawer
	#drawer-bar.drawer-bar
		.title-section 
			h1.title 
				| The list
			#refreshTrigger.cta-bloc.cta-refresh-list
				include ../../public/svg/icon_refresh.svg
		#drawer-handle
			include ../../public/svg/arrow.svg
	#list-wrapper
		#list-container
