//-
	OMNITURE Tracking code

	This goes at the bottom of the page

//- Ensure this does not error if tracking object is not defined

script
	!= "var tracking = " + JSON.stringify(tracking) + ";\n"
	!= "var trackID = '" + ((!article || !article.dbid) ? ((!category || !category.text)? '' : category.text) : article.dbid) + "';\n"
	!= "var tracker = {}; tracker[trackID] = tracking;"
//- Output a line break in the HTML so that our output closely resembles the supplied Omniture code...
= '\n'


//
	SiteCatalyst code version: H.26.2.
	Copyright 1996-2014 Adobe, Inc. All Rights Reserved
	More info available at http://www.omniture.com

= '\n'

script(src="/js/3rdparty/s_code.js")

| <!-- End SiteCatalyst code version: H.26.2. -->
= '\n'

