li.spotlight(class=(item.new)?"new":"", data-url=item.displayURL, data-fresh="" + item.new, data-id=item.dbid, data-headline=item.headline, id='spot-' + item.dbid)
	a(href=item.displayURL)
		.contents
			if item.images
				for image in item.images
					if image.type === 'hero'
						img.hero(src=image.url, alt=image.alt)
			.headline-wrapper
				p.displayDate
					= item.displayDate
				h3.headline
					if item.rank
						span.rank= item.rank + '. '
					span.headline-inner
						= item.headline
	menu.action
		li.icon.upvote(data-score=item.score)
			.icon-wrap
				include ../../../WEB/public/svg/upvote_large_complete_alt.svg
				//- <span class="cta">Upvote</span>
				span.cta.unselected Upvote
				span.cta.is-selected Upvoted
			span.vote-number.number
				= item.votes
		li.icon.shares
			.icon-wrap
				include ../../../WEB/public/svg/share_grey.svg
				span.share-number.number
					= item.shares