.article-header#sticky-header
	menu(type="toolbar").social-toolbar
		li.social-item.ranking 1.
		li.social-item.icon.upvote 
			- if(format === 'responsive')
				.desktop-only
					include ../../public/svg/upvote_large_complete_alt.svg
					p.label Upvote
				.mobile-only
					include ../../public/svg/upvote_small_complete.svg
			- if(format === 'mobile')
				include ../../public/svg/upvote_small_complete.svg
		li.social-item.icon.facebook
			include ../../public/svg/facebook.svg
		li.social-item.icon.twitter
			include ../../public/svg/twitter.svg
		li.social-item.icon.share
			include ../../public/svg/share.svg