
//- This person mixin adds a person icon to the menu
mixin person()
	.logged-out-icon
		include ../../public/svg/person.svg
	.logged-in-icon
		.avatar-thumbnail.avatar


//- Define the top nav
#top-nav
	#home-logo.home-logo
		h1.main-logo
			include ../../public/svg/i100_logo_beta.svg
			span.branding-logo.desktop-version
				include ../../public/svg/from_the_independent_logo.svg
	a.action.person.mobile-version(target="_self")
		+person()

	//- Drop down menu for user photo and options
	.menu-wrapper.user-menu-wrapper
		.user-menu
			a#user-game(href='/user/profile', target="_self")
				.menu-item.user-info
					.avatar-photo.avatar
					.nickname
			//- Add social menu options here...
			//- My account not ready yet
				.myAccount.menu-item
					a(href='/user/account') My account
			.logout.menu-item
				a(target="_self") Logout


	//- Main nav
	//- -- Dropdown menu on mobile and horizontal 3d menu on desktop
	nav
		//- Hamburger link for mobile...
		a.action.menu(target="_self")
			include ../../public/svg/menu.svg

		//- Menu items
		.menu-wrapper.main-menu-wrapper
			.inner-wrapper
				.inner-inner-wrapper
					ul.top-menu
						//- Output all the category items
						each val, index in globals.categories
							- var active = category && val.text === category.text
							li.selectable.menu-item(class='nav-' + val.text + (active  ? ' active' : ''))
								- if(format === 'responsive')
									.face.third-face
									a.face.top-face(href= val.href, target="_self")= val.text
								a.face.front-face(href= val.href, target="_self")= val.text
						- if(format === 'responsive')
							li.menu-item.desktop-version.person
								a.face.front-face(href="#", target="_self")
									+person()
					//- Adding the footer options on mobile to the hamburger menu
					include footer

