@import '../../node_modules/nib/index'
@import "./variables.styl"
/* Use the global reset from nib */
global-reset()

/* use border box sizing... */
*, *:before, *:after
	box-sizing border-box
	/* ... unless it is a gigya UI element */
	.gigya-screen-dialog &,
	.gig-bar-container &
		box-sizing content-box

html
	font-size 6px
	font-family 'Lato', sans-serif;

	@media $format-font-2
		font-size 9px
	@media $format-font-3
		font-size 10px
	@media $format-font-4
		font-size 12px
	@media $format-font-5
		font-size 14px
	@media $format-font-6
		font-size 9px
	@media $format-font-7
		font-size 10px
	@media $format-font-8
		font-size 12px

body
	overflow-y hidden

em
	font-style italic

strong
	font-weight bold

/* ensure the veil is initially hidden */
#veil
	display none
	background-color #000000
	opacity 0.8
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	z-index 999

	/* conditions to display veil*/
	.modal &
		display block

/* Hide drawer handle from tablet & desktop sized devices */
@media $format-not-phone
	#drawer-handle
		 display none

/* Set conditional hiding of elements with the class desktop-only and mobile-only */

@media $format-hamburger-menu
	.desktop-only
		display none!important

@media $format-big-menu
	.mobile-only
		display none!important

#top-nav
	background-color #191919
	height $top-nav-height
	z-index 10
	color #f4f4f4

	/* Style the actions */
	.action
		height inherit
		display flex
		width 6rem
		padding 1.2rem
		position relative
	a
		color inherit
		text-decoration none


/* Set up element flow control
 This is our framework for a responsive / adaptive grid
 */

#main-container
	flex-direction column
	display flex
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	overflow hidden

#wrapper
	flex 1
	display flex
	flex-direction row-reverse
	position relative
	z-index 1
	min-height 0

#article-container
	flex 1
	position relative /* so that scroll markers work */
	nativeScroll('y')

	.scrollMarker
		border-top 1px solid red
		color white
		z-index + 10
		position absolute
		left 0
		right 0
		background rgba(0,0,0,0.5)

/* Action bar - please note, use of em, rather than rem is deliberate here ! */

.action
	padding 0
	font-size 1rem
	display table
	width 100%
	.icon
		display table-cell
		list-style none
		color #666
		border-right 1px solid #bbb
		vertical-align middle
		text-align center
		height 4.4em
		position relative
		&:last-child
			border-right-width 0
		.meta
			line-height 1em
			display inline-block
			margin 0
			text-align center
			min-width 4rem
			font-size 1.4em
		svg
			display inline-block
			line-height 4.4em
			vertical-align middle
			margin-right 1em
		.up-s
			height 4em
			width 3em
		.up-l
			height 4em
			width 8em

		.icon-comment,
		.icon-share
			width 1.8em
			height 4em



/* LIST ITEMS - by Leigh */

#drawer
	width 32rem
	background-color #D0D2D5
	text-align center
	box-shadow (inset -6px 0 15px -7px rgba(0,0,0,0.6))


	nativeScroll('y')
	padding-top 1.3rem
	color #333333
	.title
		font-family $font-roboto
		font-size 2rem

.card
	background #fff
	margin 0 0.4rem 0.7rem 0.4rem
	padding-top 1rem
	position relative
	text-align left
	display block
	border-left 0.4rem darkcyan solid


	.contents
		display flex
		margin 0 1rem
		padding-bottom 1rem
		cursor pointer

	h3
		font-family $font-small-headline
		font-size 1.6rem
		line-height 1.25
		flex 1
		padding-left 1rem

		a
			color #333333
			text-decoration none

		.displayDate
			clear both
			float left
			display block
			font-size 1.2rem
			width 100%
			color #c3c3c3
	img
		width 9.4rem
		height 6.8rem
		background $iGrey url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") no-repeat scroll center center
		background-size cover

	.action
		border-top 1px solid #bbb

		.iconic
			fill $iGrey




.card.new
	background #ffee99

.content-header
	padding $vgap 0 0 0

// advertising
.leaderboard
	hr
		margin-top 2rem
		margin-bottom 0.5rem
		border 0
		height 1rem
		background url(../images/hrule.png) no-repeat center center
		background-size contain

// SVG icons

// .iconic
// 	fill $icon-default
// .iconic:hover
// 	fill $icon-hover
// .iconic:active
// 	fill $icon-active

.upvote-arrow
	fill:#fff;
/* default state */
.svg-upvote .down
	fill $iconUpvoteShadow
	/* inactive state */
	.disabled &
		fill $iconUpvoteClicked!important
.svg-upvote .pill
	fill $iconUpvoteDefault
	/* inactive state */
	.disabled &
		fill transparent!important

/* hover state */
.svg-upvote:hover
	cursor pointer
.svg-upvote:hover .down
	fill $iconUpvoteShadow
	/* acts as shadow */
.svg-upvote:hover .pill
	fill $iconUpvoteRollover

/* active state */
.svg-upvote:active .down,
.svg-upvote:visited .down,
.linked .svg-upvote .down
	fill $iconUpvoteClicked
	/* acts as pill! */
.svg-upvote:active .pill
	fill transparent
// don't use visibility hidden, because it kills the click event!!!

// If the browser is resized then allow resizable images to have auto height & width...
.resized .resizable
	height auto!important
	width auto!important


// gigya buttons...
.vote-bar
	position absolute
	top 1.8rem
	left 13.2rem

// ARTICLES SOCIAL MENU
.article-column
	flex 1
	display flex
	flex-direction column
	height auto
	background-color $articleHeadBgnd

// Articles styles
@import "./modules/article.styl"

// Logo 
@import "./modules/logo.styl"

// LISt MPU 
@import "./modules/list_mpus.styl"
// MPU 
@import "./modules/mpu.styl"

// Article social-share-bar
@import "./modules/social-share-bar.styl"

// Article sticky header
@import "./modules/article-social-header.styl"

// Login styles
@import "./modules/login.styl"

// Drop down menu
@import "./modules/drop-down-menu.styl"

// Article list styles
@import "./modules/article-list.styl"


// Comments styles
@import "./modules/comments.styl"

// Category / Discovery page styles
@import "./modules/discovery.styl"

// Go to top marker
@import "./modules/infinite-scroll.styl";

// Gigya styles
@import "./modules/gigya-components.styl";







