@import '../../node_modules/nib/index'
@import './variables.styl'
/* Declare the mobile specific styles below

N.b. These will be loaded into the responsive stylesheet too, and used when appropriate
*/


/* Mobile top menu layout with hamburger */
$drawer-bar-height = 5rem


/* Prevent tap highlighting */
body
	-webkit-tap-highlight-color rgba(0,0,0,0)

#top-nav
	display flex
	nav
		height inherit

// list is off page left for single column layout
@media $format-x-small

	#drawer
		position absolute
		z-index 10000
		top 0
		bottom 0
		left 0
		right 0
		width 100%
		overflow visible
		transform translateX(-100%)
		transition transform 600ms ease-in-out
		border-right 0.4rem solid $iRed

		.drawer-open &
			transform translateX(0%)
	#drawer-bar
		height $drawer-bar-height
		z-index 2

	#drawer-handle
		font-size 3.5rem
		white-space nowrap
		top 0.5rem
		position absolute
		z-index 2
		right -4rem
		height 4rem
		width 7rem
		color #ffffff
		border-radius 2rem
		background-color $iRed
		svg
			transform translateX(60%)
			transition all 500ms ease-in-out 500ms
			height 100%
			width 3rem
			.drawer-open &
				transform translateX(-60%) rotateY(180deg)
	#list-wrapper
		nativeScroll(y)
		position absolute
		top $drawer-bar-height
		left 0
		right 0
		bottom 0



	.article-column
		border-left 0.4rem solid $iRed

.top-menu-active
	#top-nav
		.hamburger rect
			fill $iRed

#home-logo
	flex 1

.action.menu
	width 6rem
	height inherit
	padding-top 1.8rem
	text-align center

.menu-item
	menuItem( auto, auto )
	a
		display block
		height 7rem
		line-height 7rem
		
		&.top-face
			display none

.top-menu .menu-item
	font-weight 700
	for $catColor, $i in $iCat
		&:nth-child({$i + 1})
			border-left-color $catColor

// The footer menu items have grey left border
.footer-menu .menu-item
	border-left-color $iGrey
	a
		font-size 1.6rem

/* Hide the dom elements for 3d menu on the mobile version */
.top-face, .third-face
	display none

#footer
	display none


