@import '../../node_modules/nib/index'
@import "./variables.styl"
@import "./common.styl"
/* Responsive styles

 - Extends the common and mobile styles
*/

@media $format-hamburger-menu
  @import 'mobile'

/*
  Desktop specific styles here...
*/
@media $format-big-menu

  /* Top nav styling */

  /* Hide hamburger link to mobile menu */
  
  #top-nav
    display flex
    .footer-menu // hide the footer links that are for the mobile menu
      display none
    .action.menu
      display none!important


  #footer
    position absolute
    bottom 0
    background-color rgba(255, 255, 255, 0.9)
    padding 0.3rem 1rem 0.3rem 1rem
    z-index 100

    li
      a
        color #333
    *
      display inline-block
      margin-right 0.3rem
    li:after
      content '|'
      margin-left 0.3rem
      color #999

    li:last-child:after
      content ''

  #home-logo
    flex 1
    font-size 1.2rem
    color #ffffff
    min-width 5rem


  /* Details for the polygon that rotates on hover / active */
  $faces = 6
  $face-height = 5rem
  $hover-rotation = 10deg
  $initial-face-angle = 360deg / $faces
  $active-rotation = $initial-face-angle

  .top-menu
    perspective 10000
    font-size 1rem
    display flex
    justify-content flex-end
    height 6rem
    overflow hidden
    padding 0.4rem 0 0
    .menu-item
      position relative
      width 8.4rem
      height 6rem
      transition all 200ms ease-in-out
      transform-origin 50% 50% -8rem
      transform-style preserve-3d
      transform rotateX(0deg)
      &:hover
        .third-face
          transform rotateX(($initial-face-angle * 2 - $hover-rotation))
        .top-face
          transform rotateX(($initial-face-angle - $hover-rotation))
        .front-face
          transform rotateX(-($hover-rotation))
      &.active.selectable
        .third-face
          transform rotateX(($initial-face-angle * 2 - $active-rotation))
        .top-face
          transform rotateX(($initial-face-angle - $active-rotation))
        .front-face
          transform rotateX(-($active-rotation))
        &:hover
          .third-face
            transform rotateX(($initial-face-angle * 2 - $active-rotation - $hover-rotation))
          .top-face
            transform rotateX(($initial-face-angle - $active-rotation - $hover-rotation))
          .front-face
            transform rotateX(-($active-rotation + $hover-rotation))

    .face
      position absolute
      height $face-height
      width inherit
      transform-origin 50% 50% -4.33rem
      transition all 400ms ease
      text-align center
      text-transform uppercase
      padding-top 2rem
      border-left 1px solid #555
    .top-face
      transform rotateX(($initial-face-angle))
    .front-face
      transform rotateX(0deg)
    .third-face
      opacity 0.8
      backface-visibility hidden
      transform rotateX(($initial-face-angle * 2))
    .front-face
      background-color #333!important

    for $catColor, $i in $iCat
      .menu-item:nth-child({$i + 1}) .face
        background-color $catColor

// ARTICLES SOCIAL MENU
// @import "./modules/resp-article-social-header.styl"

