/* Breakpoints :
640px
960px
1280px
*/



/* Variables
 We'll prefix with $ to avoid clash with real css properties
 */
$format-x-small = "all and (max-width: 639px)"
$format-small = "all and (min-width: 640px) and (max-width: 959px)"
$format-medium = "all and (min-width: 960px) and (max-width: 1279px)"
$format-med-lrg = "all and (min-width: 960px) and (max-width: 1290px)"
$format-large = "all and (min-width: 1280px)"

$format-mobile = "all and (max-width: 959px)" /* x-small & small */
$format-desktop = "all and (min-width: 960px)" /* medium & large */
$format-not-phone = "all and (min-width: 640px)" /* small, medium & large */
$format-center-content = "all and (min-width: 1050px)" /* Breakpoint between fluid and fixed article width */


/* Base font size breakpoints */
$format-font-2 = "all and (min-width: 320px) and (max-width: 399px)"
$format-font-3 = "all and (min-width: 400px) and (max-width: 479px)"
$format-font-4 = "all and (min-width: 480px) and (max-width: 559px)"
$format-font-5 = "all and (min-width: 560px) and (max-width: 639px)"
$format-font-6 = "all and (min-width: 640px) and (max-width: 1024px)"
$format-font-7 = "all and (min-width: 1025px) and (max-width: 1279px)"
$format-font-8 = "all and (min-width: 1280px)"

/* Hamburger vs big menu breakpoint */
$format-big-menu = "all and (min-width: 1025px)"
$format-hamburger-menu = "all and (max-width: 1024px)"

/* 2 column hamburger layout */
$format-tablet = "all and (min-width: 640px)"

$font-small-headline = 'Roboto Slab', 'Rockwell', serif
$font-article-headline = 'Alfa Slab One', 'Rockwell', serif
/* standard vertical gap between article elements (less than in VD as that does not take account of CSS positioning */
$vgap = 3rem

/* gutter */
$gutter = 7%
$column = 32rem
$shareMenuOutterGutter = 1.5rem
$shareMenuInnerGutter = 0.5rem

$list-icon-gutter = 1rem

/* Top nav bar height */
$top-nav-height = 6rem

/* Miscellaneous measurements */
$shareMenuTriangle = 1.5rem

/* Colours */
$iRed = #ec1b2e 
$iGrey = #a0a0a0
$mobileNavBorder = #444444
$color-headline = #333333
$color-body = #333333
$articleHeadBgnd = #ffffff
$discoveryBgnd = #f1f1f1
$spotlightBgnd = #ffffff
$shareBarBorder = #e5e5e5
// FONT COLOURS
$categoryHeading = #363636
$articleHeadline = #444444

// ICON COLOURS
$iconUpvoteDefault = #EB1E2F
$iconUpvoteRollover = #D41F2A
$iconUpvoteClicked = #B7D54B
$iconUpvoteShadow = #B21F24

$actionMenuBorder01 = rgba(187,187,187,0.5)

$shareMenuBgnd = rgba(17,17,17,0.9)

/* Category colours */
$discover = #ed1b2f
$news = #e67e22
$people = #f1c40f
$videos = #57d68d
$sport = #40a9ef
$tech = #3f57ec
$offbeat = #9b2fc7
$ents = #d43998

$iCat = #ed1b2f #e67e22 #f1c40f #57d68d #40a9ef #3f57ec #9b2fc7 #d43998

$iCat = $discover $news $people $videos $sport $tech $offbeat $ents
/* Fonts */

$font-roboto = 'Roboto Slab', 'Rockwell', serif
$font-alphaSlab = 'Alfa Slab One', 'Rockwell', serif
$font-latoReg = 'Lato', sans-serif

$quotemarkSize = 9rem

/* Utility function for centering a block element */
center-block()
  margin-left auto
  margin-right auto


/* Utility function for native scrolling */
nativeScroll(axis)
  overflow scroll
  if axis == 'y'
    overflow-x hidden
  if axis == 'x'
    overflow-y hidden
  -webkit-overflow-scrolling touch

/* styling for a drop-down menu item */
menuItem( height, paddingTop )
	margin 0
	padding-top paddingTop
	height height
	text-align center
	border-bottom 0.2rem solid $mobileNavBorder
	border-left 0.7rem solid $mobileNavBorder
	background-color rgba(0,0,0,0.9)
	a
		color #ffffff
		font-size 2rem
		text-transform uppercase
		text-decoration none

gigyaFormTitleFont( fontSize, lineHeight )
	font-family $font-small-headline
	font-size fontSize
	line-height lineHeight


