.profile-manager.userpage(data-category="User", data-title='User ' + userpage, data-text=userpage)
	ul.profile-unit-list
		li.profile-unit
			h1.alpha-heading My profile
			#gigya-user-status
		li.profile-unit
			h2.beta-heading Achievements
			#gigya-challenge-status
		li.profile-unit
			h2.beta-heading Activity
			#gigya-activity
		li.profile-unit
			h2.beta-heading i100 leaderboard
			#gigya-leaderboard